Repository Automattic/pocket-casts-android, pull requests merged in 2023-05, with the labels that each got.

#922 Update watch log in screens to include log in on phone
  dependencies.gradle
  modules/services/images/src/main/res/drawable/baseline_phone_android_24.xml
  modules/services/images/src/main/res/drawable/google_g_white.xml
  modules/services/localization/src/main/res/values/strings.xml
  wear/build.gradle
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/AuthenticationScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/AuthenticationNavGraph.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/LoginScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/LoginWithEmailScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/LoginWithPhoneScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/PasswordScreen.kt
Labels: wear os

#924 Merge release/7.38-rc-1 to main
  CHANGELOG.md
  metadata/release_notes.txt
  version.properties
Labels: releases

#923 Patron: Upgrade screen UI adjustments
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeHelper.kt
  modules/features/account/src/main/res/drawable/upgrade_background_patron_glows.webp
  modules/features/account/src/main/res/drawable/upgrade_background_plus_glows.webp
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/AutoResizeText.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/StyledToggle.kt
Labels: patron

#933 Merge release/7.37.1 into 7.38-rc-1
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncAccountManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/user/UserManager.kt
  version.properties
Labels: releases

#941 Patron: Update account screen's upgrade banner
  modules/features/account/src/main/AndroidManifest.xml
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/components/SubscriptionTierPill.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/components/UpgradeFeatureItem.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeBottomSheet.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFlow.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeHelper.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/ProfileUpgradeBanner.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeButton.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeFeatureCard.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeBottomSheetViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/ProfileUpgradeBannerViewModel.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/UserView.kt
  modules/features/profile/src/main/res/layout/fragment_account_details.xml
  modules/features/profile/src/main/res/values/color.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/HorizontalPagerWrapper.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/ui/src/main/res/values/colors.xml
  modules/services/ui/src/main/res/values/themes.xml
Labels: patron

#944 Patron: Account Details - Add Upgrade to Patron
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/ProfileUpgradeBanner.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/features/profile/src/main/res/layout/fragment_account_details.xml
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/onboarding/OnboardingFlow.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/onboarding/OnboardingUpgradeSource.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/HorizontalPagerWrapper.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/Subscription.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionMapper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
Labels: patron

#945 Only rebind discover views when there are changes
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverAdapter.kt
Labels: analytics

#948 Merge release/7.38-rc-3 to main
  CHANGELOG.md
  dependencies.gradle
  modules/services/images/src/main/res/drawable/ic_upnext.xml
  version.properties
Labels: releases

#949 Patron: Update account details header
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/components/SubscriptionBadge.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/ProfileUpgradeBanner.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/UserView.kt
  modules/features/profile/src/main/res/layout-car/view_expanded_user.xml
  modules/features/profile/src/main/res/layout-land-car/view_user.xml
  modules/features/profile/src/main/res/layout-land/view_user.xml
  modules/features/profile/src/main/res/layout/fragment_account_details.xml
  modules/features/profile/src/main/res/layout/view_expanded_user.xml
  modules/features/profile/src/main/res/layout/view_user.xml
  modules/features/profile/src/main/res/values/dimens.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/to/SignInState.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionType.kt
Labels: patron

#959 Add/google sign in to watch
  dependencies.gradle
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/GoogleSignInButtonViewModel.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/GravatarProfileImage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/ProfileImage.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/user/UserManager.kt
  wear/build.gradle
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/WearMainActivityViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/di/AuthWatchModule.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/LoggingInScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/LoggingInScreenViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/WatchListScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/AuthenticationNavGraph.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/LoginWithGoogleScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/LoginWithGoogleScreenViewModel.kt
Labels: wear os

#982 Add effects options to watch app
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/ShelfItem.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastEffectsFragment.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/TextStyles.kt
  modules/services/images/src/main/res/drawable/ic_effects_off.xml
  modules/services/images/src/main/res/drawable/ic_speed.xml
  modules/services/images/src/main/res/drawable/ic_trim.xml
  modules/services/images/src/main/res/drawable/minus_simple.xml
  modules/services/localization/src/main/res/values/strings.xml
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/SettingsScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/player/EffectsScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/player/EffectsViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/player/NowPlayingScreen.kt
Labels: wear os

#989 Improve watch app podcast screen UI
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/component/EpisodeChip.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/podcast/PodcastScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/podcast/PodcastViewModel.kt
Labels: wear os

#990 Open watch app's Now Playing screen when tapping on episode screen's Play icon
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/episode/EpisodeScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/episode/EpisodeScreenFlow.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/episode/EpisodeViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/player/NowPlayingScreen.kt
Labels: wear os

#991 Bump horologist
  dependencies.gradle
  wear/build.gradle
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/di/WearNetworkModule.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/component/NowPlayingPager.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/episode/EpisodeScreenFlow.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/player/NowPlayingScreen.kt
Labels: wear os

#994 Restrict independent watch functionality to Plus users
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/WearMainActivityViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/LoggingInScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/LoggingInScreenViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/ScrollToTop.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/WatchListScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/AuthenticationNavGraph.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/LoginWithGoogleScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/LoginWithGoogleScreenViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/authentication/RequirePlusScreen.kt
Labels: wear os

#998 Add splash screen to watch app
  wear/src/main/AndroidManifest.xml
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/MainActivity.kt
  wear/src/main/res/drawable/splash_background.xml
  wear/src/main/res/values/styles.xml
Labels: wear os

#999 Merge release/7.39 into main
  CHANGELOG.md
  app/build.gradle
  app/src/main/AndroidManifest.xml
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/viewmodel/SettingsAppearanceViewModel.kt
  modules/services/images/src/main/res/drawable-hdpi/appicon_pride_2023.png
  modules/services/images/src/main/res/drawable-mdpi/appicon_pride_2023.png
  modules/services/images/src/main/res/drawable-xhdpi/appicon_pride_2023.png
  modules/services/images/src/main/res/drawable-xxhdpi/appicon_pride_2023.png
  modules/services/images/src/main/res/drawable-xxxhdpi/appicon_pride_2023.png
  modules/services/images/src/main/res/mipmap-anydpi-v26/ic_launcher_pride_2023.xml
  modules/services/images/src/main/res/mipmap-hdpi/ic_launcher_2023_pride.png
  modules/services/images/src/main/res/mipmap-hdpi/ic_launcher_pride_2023_background.png
  modules/services/images/src/main/res/mipmap-hdpi/ic_launcher_pride_2023_foreground.png
  modules/services/images/src/main/res/mipmap-mdpi/ic_launcher_pride_2023.png
  modules/services/images/src/main/res/mipmap-mdpi/ic_launcher_pride_2023_background.png
  modules/services/images/src/main/res/mipmap-mdpi/ic_launcher_pride_2023_foreground.png
  modules/services/images/src/main/res/mipmap-xhdpi/ic_launcher_pride_2023.png
  modules/services/images/src/main/res/mipmap-xhdpi/ic_launcher_pride_2023_background.png
  modules/services/images/src/main/res/mipmap-xhdpi/ic_launcher_pride_2023_foreground.png
  modules/services/images/src/main/res/mipmap-xxhdpi/ic_launcher_pride_2023.png
  modules/services/images/src/main/res/mipmap-xxhdpi/ic_launcher_pride_2023_background.png
  modules/services/images/src/main/res/mipmap-xxhdpi/ic_launcher_pride_2023_foreground.png
  modules/services/images/src/main/res/mipmap-xxxhdpi/ic_launcher_pride_2023.png
  modules/services/images/src/main/res/mipmap-xxxhdpi/ic_launcher_pride_2023_background.png
  modules/services/images/src/main/res/mipmap-xxxhdpi/ic_launcher_pride_2023_foreground.png
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/ui/src/main/java/au/com/shiftyjelly/pocketcasts/ui/helper/AppIcon.kt
  version.properties
Labels: releases

#996 Add wear app to build pipeline
  dependencies.gradle
  fastlane/Fastfile
Labels: wear os

#1014 Prevent playback on watch speakers
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/di/ConfigModule.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/di/WearAppModule.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/episode/EpisodeViewModel.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/player/AudioOutputSelectorHelper.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/player/NowPlayingViewModel.kt
Labels: wear os
