Repository Automattic/pocket-casts-android, pull requests merged in 2024-09, with the labels that each got.

#2774 Merge release/7.71 into main
  base.gradle
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  version.properties
Labels: releases

#2773 Fix: UI glitch for Subscribe button in Original Paywall
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeHelper.kt
Labels: [Type] Bug

#2783 Merge release/7.72-rc-1 into main
  CHANGELOG.md
  metadata/release_notes.txt
  version.properties
Labels: releases

#2775 RubyGems: Fix rexml vulnerability
  Gemfile
  Gemfile.lock
Labels: [Type] Tooling, [Area] Tooling

#2786 Revert glance version bump
  gradle/libs.versions.toml
Labels: [Type] Bug, [Area] Widgets

#2788 Temporarily disable Dependabot
  .github/dependabot.yml
Labels: [Type] Tooling, [Area] Dependencies

#2782 Configure builds from Gradle KTS
  app/build.gradle.kts
  automotive/build.gradle.kts
  automotive/proguard-rules.pro
  base.gradle
  build.gradle.kts
  dependencies.gradle.kts
  proguard-rules.pro
  wear/build.gradle.kts
  wear/proguard-rules.pro
Labels: [Type] Tooling, [Area] Tooling

#2785 Update transcripts search bar
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/IconButtonSmall.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/SearchBar.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Project] Transcripts

#2792 Merge 7.72-rc-2 into main
  gradle/libs.versions.toml
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/IconButtonSmall.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/SearchBar.kt
  modules/services/localization/src/main/res/values/strings.xml
  version.properties
Labels: releases

#2789 [Tech Debt] Remove deprecated onBackPressed from Account
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/AccountActivity.kt
Labels: [Type] Tech Debt, [Area] Login

#2790 [Tech Debt] Remove deprecated onBackPressed from WebView
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/activity/WebViewActivity.kt
Labels: [Type] Tech Debt, [Area] Webview

#2796 [Tech Debt] Remove deprecated onBackPressed from Automotive Settings
  automotive/src/main/java/au/com/shiftyjelly/pocketcasts/AutomotiveSettingsActivity.kt
Labels: [Type] Tech Debt, [Area] Automotive

#2799 Remove unused syncing code
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/preferences/UserSettingTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastSyncProcessTest.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/UserSetting.kt
  modules/services/protobuf/src/main/proto/sync_api.proto
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastSyncProcess.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManagerImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastSyncProcessTest.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/NamedSettings.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncService.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncServiceManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncSettingsTask.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/update/SyncUpdateResponse.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Area] Sync Settings

#2804 Clean up dependencies config
  build.gradle.kts
  modules/services/repositories/build.gradle.kts
Labels: [Type] Other, [Area] Gradle

#2798 Use spaces instead of underscores in clip file names
  modules/services/media-ffmpeg/src/main/kotlin/au/com/shiftyjelly/pocketcasts/media/FFmpegMediaService.kt
Labels: [Type] Enhancement, [Project] Reimagine Sharing

#2813 Use showkase KSP processor in the :app module
  app/build.gradle.kts
Labels: [Type] Other, [Area] Tooling

#2801 [Tech Debt] Remove deprecated code from filters
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
Labels: [Type] Tech Debt, [Area] Filters

#2805 Address parts of the Engage SDK integration feedback
  app/build.gradle.kts
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  modules/features/engage/src/main/AndroidManifest.xml
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/ClusterService.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/EngageData.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/EngageSdkWorkers.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/Recommendations.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/RecommendationsData.kt
  modules/features/engage/src/test/kotlin/au/com/shiftyjelly/pocketcasts/engage/RecommendationsTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/ExternalDataDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/ExternalEntities.kt
Labels: [Type] Feature, unit-tests-exemption, [Project] Engage SDK

#2812 Fix deep link auto play crash
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
Labels: [Type] Bug, [Priority] High, [Area] Playback

#2793 Listening history - Display search bar
  modules/features/podcasts/build.gradle.kts
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProflieEpisodeListSearchBar.kt
  modules/features/podcasts/src/main/res/layout/fragment_profile_episode_list.xml
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModelTest.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, HACK week, [Area] Profile Tab

#2809 Merge release/7.72-rc-3 into main
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/ShelfBottomSheet.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/ShelfFragment.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/media-ffmpeg/src/main/kotlin/au/com/shiftyjelly/pocketcasts/media/FFmpegMediaService.kt
  version.properties
Labels: releases

#2794 Listening history - Add local search
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/EpisodeDaoTest.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProflieEpisodeListSearchBar.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/EpisodeDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/EpisodeManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/EpisodeManagerImpl.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/extensions/String.kt
Labels: [Type] Feature, HACK week, [Area] Profile Tab

#2816 Merge release 7.72-rc-4 into main
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
  version.properties
Labels: releases

#2808 Referrals: display hint text using popup
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerBottomSheet.kt
  modules/features/profile/build.gradle.kts
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ReferralsViewModel.kt
  modules/features/profile/src/main/res/layout-land/fragment_profile.xml
  modules/features/profile/src/main/res/layout/fragment_profile.xml
  modules/features/referrals/build.gradle.kts
  modules/features/referrals/lint-baseline.xml
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsIconWithTooltip.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsViewModel.kt
  modules/features/referrals/src/main/res/drawable/ic_gift.xml
  modules/features/referrals/src/test/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsViewModelTest.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/Tooltip.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/CountBadge.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  settings.gradle.kts
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#2803 Enable Dependabot
  .github/dependabot.yml
Labels: [Type] Tooling, [Area] Dependencies

#2784 Convert "Customise media actions" to Compose
  gradle/libs.versions.toml
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/MediaActionTouchCallback.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/MediaNotificationControlsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/PlaybackSettingsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsViewModel.kt
  modules/features/settings/src/main/res/layout/adapter_media_action_item.xml
  modules/features/settings/src/main/res/layout/adapter_media_action_title.xml
  modules/features/settings/src/main/res/layout/fragment_media_notification_controls.xml
  modules/services/compose/build.gradle.kts
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/rearrange/MenuActionRearrange.kt
  modules/services/images/src/main/res/drawable/ic_skip_next.xml
  modules/services/images/src/main/res/drawable/ic_speed_number.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
Labels: [Type] Tech Debt, unit-tests-exemption, [Area] Settings

#2771 [Paywall Experiment] Track Subscribe button event
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Area] Analytics, [Project] Paywall Experiments

#2811 Improve the podcast page background color
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/components/UpsellView.kt
  modules/features/podcasts/src/main/res/layout/fragment_podcast.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/SubscriptionBadge.kt
Labels: [Type] Enhancement, [Area] Podcast Page

#2820 Fix showkase default style compilation error
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/SubscriptionBadge.kt
Labels: [Type] Other, [Area] Tooling

#2824 [Ratings] Tweak to Ratings
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingScreen.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/SwipeableStars.kt
Labels: [Type] Enhancement, [Project] Give Rating

#2823 Referrals: add send guest pass screen
  gradle/libs.versions.toml
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeHelper.kt
  modules/features/referrals/build.gradle.kts
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralGuestPassCardView.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsIconWithTooltip.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassFragment.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassPage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/GradientRowButton.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#2828 Upload Android lint results to GitHub code scanning registry
  .buildkite/commands/lint.sh
  .buildkite/pipeline.yml
  .buildkite/shared-pipeline-vars
  app/lint-baseline.xml
  automotive/lint-baseline.xml
  build.gradle.kts
  modules/features/account/lint-baseline.xml
  modules/features/cartheme/lint-baseline.xml
  modules/features/discover/lint-baseline.xml
  modules/features/endofyear/lint-baseline.xml
  modules/features/engage/lint-baseline.xml
  modules/features/filters/lint-baseline.xml
  modules/features/kids/lint-baseline.xml
  modules/features/navigation/lint-baseline.xml
  modules/features/nova/lint-baseline.xml
  modules/features/player/lint-baseline.xml
  modules/features/podcasts/lint-baseline.xml
  modules/features/profile/lint-baseline.xml
  modules/features/referrals/lint-baseline.xml
  modules/features/reimagine/lint-baseline.xml
  modules/features/search/lint-baseline.xml
  modules/features/settings/lint-baseline.xml
  modules/features/shared/lint-baseline.xml
  modules/features/taskerplugin/lint-baseline.xml
  modules/features/widgets/lint-baseline.xml
  modules/services/analytics/lint-baseline.xml
  modules/services/compose/lint-baseline.xml
  modules/services/crashlogging/lint-baseline.xml
  modules/services/deeplink/lint-baseline.xml
  modules/services/images/lint-baseline.xml
  modules/services/localization/build.gradle.kts
  modules/services/localization/lint-baseline.xml
  modules/services/media-ffmpeg/lint-baseline.xml
  modules/services/media-noop/lint-baseline.xml
  modules/services/model/lint-baseline.xml
  modules/services/preferences/lint-baseline.xml
  modules/services/repositories/lint-baseline.xml
  modules/services/servers/lint-baseline.xml
  modules/services/sharedtest/lint-baseline.xml
  modules/services/sharing/lint-baseline.xml
  modules/services/ui/lint-baseline.xml
  modules/services/utils/lint-baseline.xml
  modules/services/views/lint-baseline.xml
  wear/lint-baseline.xml
Labels: [Type] Enhancement, [Area] Tooling

#2834 Remove ratings feature flag
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/StarRatingView.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Project] Give Rating

#2842 Do not declare Compose compiler version
  build.gradle.kts
  gradle/libs.versions.toml
Labels: [Type] Tech Debt, [Area] Gradle

#2835 Remove Up Next in tab bar feature flag
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextAdapter.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextEpisodeViewHolder.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/CountBadge.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BaseFragment.kt
Labels: [Type] Tech Debt, [Area] Up Next

#2841 Referrals - guest pass card background animation
  modules/features/endofyear/src/main/java/au/com/shiftyjelly/pocketcasts/endofyear/components/CompletionRateCircle.kt
  modules/features/endofyear/src/main/java/au/com/shiftyjelly/pocketcasts/endofyear/components/DayCirclesView.kt
  modules/features/endofyear/src/main/java/au/com/shiftyjelly/pocketcasts/endofyear/components/GradientPillar.kt
  modules/features/endofyear/src/main/java/au/com/shiftyjelly/pocketcasts/endofyear/utils/StoryModifierExtensions.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralCardAnimatedGradientView.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralGuestPassCardView.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/extensions/Brush.kt
  modules/services/images/src/main/res/drawable/blurred_rainbow_circle.webp
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#2836 Add .kotlin directory to .gitignore
  .gitignore
Labels: [Type] Tooling, [Area] Tooling

#2843 Reduce the Dependabot interval to weekly
  .github/dependabot.yml
Labels: [Type] Tooling, [Area] Dependencies

#2837 Remove grid redesign feature flag
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/FolderAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/FolderListRow.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/podcasts/src/main/res/layout/adapter_podcast_grid.xml
  modules/features/podcasts/src/main/res/layout/adapter_podcast_list.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/folder/FolderImage.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/UiUtil.kt
Labels: [Type] Tech Debt, [Area] Podcasts Tab

#2839 Remove Gravatar feature flag
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Project] Gravatar

#2840 Remove Kids feature flag
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Project] Kids Profile

#2848 Bump CI toolkit to 3.6.1
  .buildkite/shared-pipeline-vars
Labels: [Type] Bug, [Area] Tooling

#2854 Apply fix for not sending sarif file on the main branch
  .buildkite/shared-pipeline-vars
Labels: [Type] Bug, [Area] Tooling

#2855 Update CI toolkit to 3.6.2
  .buildkite/shared-pipeline-vars
Labels: [Type] Bug, [Area] Tooling

#2853 Referrals: update UI for unlimited passes
  modules/features/referrals/build.gradle.kts
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsIconWithTooltip.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassFragment.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassPage.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsViewModel.kt
  modules/features/referrals/src/test/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Project] Referrals

#2856 Referrals: profile header
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsBanner.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/res/layout-land/fragment_profile.xml
  modules/features/profile/src/main/res/layout/fragment_profile.xml
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralCardAnimatedGradientView.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralGuestPassCardView.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsClaimGuestPassBannerCard.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassPage.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#2864 Referrals: claim pass page
  modules/features/referrals/build.gradle.kts
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsClaimGuestPassBannerCard.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsClaimGuestPassPage.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsGuestPassFragment.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsIconWithTooltip.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#2858 Merge release 7.72 into main
  Gemfile.lock
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  version.properties
Labels: releases

#2852 Listening History: Add search analytics, enable feature
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProflieEpisodeListSearchBar.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModelTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Area] Listening History

#2850 Upgrade AGP to 8.6.0
  gradle/libs.versions.toml
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/Theme.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/bookmark/BookmarkHelper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/download/DownloadManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/refresh/RefreshPodcastsThread.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/TokenErrorNotification.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/widget/WidgetManagerImpl.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/Util.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/extensions/Context.kt
Labels: [Type] Tooling, [Area] Gradle

#2867 Add lint results artifacts to release build step
  .buildkite/release-builds.yml
Labels: [Type] Enhancement, [Area] Tooling

#2869 Merge 7.73-rc-1 into main
  CHANGELOG.md
  app/lint-baseline.xml
  automotive/lint-baseline.xml
  gradle/libs.versions.toml
  lint.xml
  metadata/release_notes.txt
  modules/features/endofyear/build.gradle.kts
  modules/features/player/build.gradle.kts
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/chapters/ChaptersPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/podcasts/build.gradle.kts
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipPage.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/ui/ClipSelector.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/ui/PlatfromItem.kt
  modules/features/settings/build.gradle.kts
  modules/features/widgets/src/main/kotlin/au/com/shiftyjelly/pocketcasts/widget/ui/WidgetTheme.kt
  modules/services/compose/build.gradle.kts
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/IconButtonSmall.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/ToggleButtonGroup.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/ClickableTextHelper.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/Tooltip.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/ViewInteropNestedScrollConnection.kt
  modules/services/crashlogging/build.gradle.kts
  version.properties
  wear/build.gradle.kts
  wear/lint-baseline.xml
Labels: releases

#2876 Ignore Compose and KSP for automatic updates
  .github/dependabot.yml
Labels: [Type] Tooling, [Area] Dependencies

#2875 Add gyroscope animation to referral card
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralCardAnimatedGradientView.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/parallaxview/ParallaxView.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/parallaxview/SensorDataManager.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/DeviceOrientationDetector.kt
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#2882 Remove the Android Browser Helper library
  gradle/libs.versions.toml
  modules/features/profile/build.gradle.kts
  modules/services/ui/build.gradle.kts
Labels: [Type] Tech Debt, [Area] Dependencies

#2872 Fix ObsoleteSdkInt issues
  app/lint-baseline.xml
  automotive/lint-baseline.xml
  modules/features/cartheme/src/main/res/layout/preference_car_switch_widget.xml
  modules/features/cartheme/src/main/res/values-v24/styles.xml
  modules/features/cartheme/src/main/res/values/styles.xml
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
  modules/services/localization/src/main/java/au/com/shiftyjelly/pocketcasts/localization/helper/RelativeDateFormatter.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackService.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/refresh/RefreshPodcastsThread.kt
  modules/services/ui/src/main/res/layout/settings_pocketcasts_settings_fragment.xml
  modules/services/ui/src/main/res/values-v23/themes.xml
  modules/services/ui/src/main/res/values/themes.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/Network.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/TimberDebugTree.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/extensions/SwitchExt.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/extensions/View.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/SwipeToArchiveCallback.kt
  wear/lint-baseline.xml
Labels: [Type] Tech Debt, [Area] Lint issues

#2873 Fix MissingPermission issues
  app/lint-baseline.xml
  automotive/lint-baseline.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlayerNotificationManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/refresh/RefreshPodcastsThread.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/TokenErrorNotification.kt
  wear/lint-baseline.xml
Labels: [Type] Tech Debt, [Area] Lint issues

#2883 Update Gradle to 8.10.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: [Type] Tech Debt, [Area] Dependencies, [Area] Gradle

#2874 Fix SpecifyForegroundServiceType issues
  app/lint-baseline.xml
  app/src/main/AndroidManifest.xml
  automotive/lint-baseline.xml
  modules/services/repositories/src/main/AndroidManifest.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlayerNotificationManager.kt
  wear/lint-baseline.xml
Labels: [Type] Tech Debt, [Area] Lint issues

#2884 Include GH Actions in Dependabot updates
  .github/dependabot.yml
Labels: [Type] Tooling, [Area] Dependencies

#2885 Fix the developer page new episode notification
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperViewModel.kt
Labels: [Type] Enhancement, [Area] Settings

#2881 Deep link the referral claim
  app/build.gradle.kts
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/ReferralsDeepLinkTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLink.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#2886 Clean up R8 configuration
  gradle.properties
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionFrequency.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionPlatform.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionTier.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionType.kt
  proguard-rules.pro
Labels: [Type] Enhancement, [Area] Tooling

#2896 Revert gradle-build-action to v2
  .github/dependabot.yml
  .github/workflows/submit-gradle-dependencies.yml
Labels: [Type] Tech Debt, [Area] Dependencies

#2908 Make search handlers non-singletons to fix persisting search text
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/helper/search/BookmarkSearchHandler.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/helper/search/EpisodeSearchHandler.kt
Labels: [Type] Bug, [Area] Search

#2897 Change the background animation of referral cards
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralCardAnimatedGradientView.kt
Labels: [Type] Feature, unit-tests-exemption, [Project] Referrals

#1627 Prevents playbutton in files episode list from changing back to pause on upnext
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/UserEpisodeViewHolder.kt
Labels: [Type] Bug, [Area] User Files

#2909 Use rendered assets for referral animations on SDK < 31
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralCardAnimatedGradientView.kt
  modules/services/images/src/main/res/drawable-hdpi/referrals_blob_bottom_right.webp
  modules/services/images/src/main/res/drawable-hdpi/referrals_blob_top_left.webp
  modules/services/images/src/main/res/drawable-ldpi/referrals_blob_bottom_right.webp
  modules/services/images/src/main/res/drawable-ldpi/referrals_blob_top_left.webp
  modules/services/images/src/main/res/drawable-mdpi/referrals_blob_bottom_right.webp
  modules/services/images/src/main/res/drawable-mdpi/referrals_blob_top_left.webp
  modules/services/images/src/main/res/drawable-xhdpi/referrals_blob_bottom_right.webp
  modules/services/images/src/main/res/drawable-xhdpi/referrals_blob_top_left.webp
  modules/services/images/src/main/res/drawable-xxhdpi/referrals_blob_bottom_right.webp
  modules/services/images/src/main/res/drawable-xxhdpi/referrals_blob_top_left.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/referrals_blob_bottom_right.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/referrals_blob_top_left.webp
  modules/services/images/src/main/res/drawable/blurred_rainbow_circle.webp
Labels: [Type] Feature, [Project] Referrals

#2921 Do not optimize PlaybackService class
  proguard-rules.pro
Labels: [Type] Bug, [Area] Tooling

#2913 Fix illegal state exception in filteredPlaybackHistoryFlow
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModelTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/EpisodeDao.kt
Labels: [Type] Bug, [Area] Listening History

#2925 Stop the show notes web view jumping after loading
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/NotesFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
Labels: [Type] Bug, [Area] Show Notes

#2924 Merge 7.73-rc-2 into main
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModelTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/EpisodeDao.kt
  proguard-rules.pro
  version.properties
Labels: releases

#2926 Support multiple possible mimetypes for a transcript format
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/PlayerModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImplTest.kt
Labels: [Type] Bug, [Project] Transcripts

#2928 Listening History - Allow spaces in search
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
Labels: [Type] Bug, [Area] Listening History

#2829 [Sleep Timer] Adds settings button to sleep timer bottom sheet dialog
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/SleepFragment.kt
  modules/features/player/src/main/res/layout/fragment_sleep.xml
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/PlaybackSettingsFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/images/src/main/res/drawable/sleep_timer_cog.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: unit-tests-exemption, [Type] Enhancement, [Project] Sleep Timer

#2907 Integrate security lint checks
  .buildkite/commands/lint.sh
  .buildkite/shared-pipeline-vars
  build.gradle.kts
  gradle/libs.versions.toml
Labels: [Type] Enhancement, [Area] Tooling

#2929 Referrals: Get referral code from endpoint
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsGuestPassError.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsGuestPassFragment.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassPage.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassViewModel.kt
  modules/features/referrals/src/test/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/referrals/ReferralManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/referrals/ReferralManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManagerImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/referrals/ReferralManagerImplTest.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncService.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncServiceManager.kt
  modules/services/sharing/build.gradle.kts
  modules/services/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
Labels: [Type] Feature, [Project] Referrals

#2927 [Tech Debt] Remove deprecated code from OPML files import code
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/ExportSettingsFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/OpmlExporter.kt
Labels: [Type] Tech Debt, [Area] User Files

#2871 [Paywall Experiments] Implement ExPlat
  .github/dependabot.yml
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/ExperimentProviderTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  gradle/libs.versions.toml
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingLogInViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/services/analytics/build.gradle.kts
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/di/ExperimentModule.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/Experiment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/ExperimentProvider.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/Variation.kt
  modules/services/analytics/src/test/kotlin/au/com/shiftyjelly/pocketcasts/analytics/experiments/ExperimentProviderTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/user/UserManager.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Other, [Area] Analytics, unit-tests-exemption, [Project] Paywall Experiments

#2930 [Sleep Timer] Fix - Volume doesn't return to original level if device is shaken during fade-out
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/SimplePlayer.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/SleepTimerRestartWhenShakingDevice.kt
Labels: [Type] Bug, [Project] Sleep Timer

#2932 Do not apply rounded corners transformation if radius is 0
  CHANGELOG.md
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/images/RoundedCornersTransformation.kt
Labels: [Type] Bug, [Area] Performance

#2940 Transcripts - decode html entities & update tracks
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilter.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilterTest.kt
Labels: [Type] Bug, [Project] Transcripts

#2942 Merge release/7.73 into main
  CHANGELOG.md
  app/lint-baseline.xml
  build.gradle.kts
  fastlane/Fastfile
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilter.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilterTest.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/PlayerModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImplTest.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/images/RoundedCornersTransformation.kt
  version.properties
  wear/lint-baseline.xml
Labels: releases

#2933 Improve performance of discover grid layout
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/GridListAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastGridFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastGridRow.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastListFragment.kt
Labels: [Type] Other, [Area] Performance

#2939 [Paywall Experiment] Add remote feature flag
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Other, [Project] Paywall Experiments

#2946 [Paywall Experiments] Refresh Experiments
  modules/services/analytics/build.gradle.kts
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/ExperimentProvider.kt
  modules/services/analytics/src/test/kotlin/au/com/shiftyjelly/pocketcasts/analytics/experiments/ExperimentProviderTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/user/UserManager.kt
Labels: [Type] Bug, [Project] Paywall Experiments

#2947 Enable Engage SDK in production
  CHANGELOG.md
  modules/features/engage/src/main/AndroidManifest.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Project] Engage SDK

#2941 Referrals - Update strings for translations
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralGuestPassCardView.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsClaimGuestPassBannerCard.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsClaimGuestPassPage.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsIconWithTooltip.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassPage.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsSendGuestPassViewModel.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/ReferralsOfferInfo.kt
  modules/services/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/services/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalyticsTest.kt
Labels: [Type] Feature, [Project] Referrals

#2938 Fix: Crash when uploading file
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/AddFileActivity.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Bug, [Area] User Files

#2956 Merge/release 7.74 rc1 into main
  CHANGELOG.md
  metadata/release_notes.txt
  version.properties
Labels: releases

#2923 Fix excessive scrolling behavior in discovery search
  CHANGELOG.md
  modules/features/search/src/main/java/au/com/shiftyjelly/pocketcasts/search/SearchInlineResultsPage.kt
Labels: [Type] Bug, [Area] Search
