Repository Automattic/pocket-casts-android, pull requests merged in 2024-08, with the labels that each got.

#2546 Transcripts - Support HTML type
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/UrlUtil.kt
Labels: Transcripts

#2562 Ignore `*.bak` files
  .gitignore
Labels: Tooling

#2561 Update mobile secrets
  .configure
  .configure-files/secret.properties.enc
  Gemfile.lock
Labels: Tooling

#2559 Handle all https://pocketcasts.com/get deep links
  CHANGELOG.md
  app/src/main/AndroidManifest.xml
Labels: polish

#2566 Merge release/7.69 into main
  CHANGELOG.md
  Gemfile.lock
  app/src/main/AndroidManifest.xml
  metadata/release_notes.txt
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-en-rGB/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nb/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  version.properties
Labels: releases

#2545 Add audio clip sharing
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  modules/features/sharing/src/debug/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/debugProd/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/MediaService.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalytics.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/di/SharingModule.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/release/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalyticsTest.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/DurationUtil.kt
  modules/services/utils/src/test/java/au/com/shiftyjelly/pocketcasts/utils/DurationUtilTest.kt
Labels: unit-tests-exemption, Reimagine Sharing

#2563 Bring back podcast_screen_share_tapped event
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
Labels: analytics

#2555 Add video clip sharing
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  gradle/libs.versions.toml
  modules/features/sharing/build.gradle.kts
  modules/features/sharing/src/debug/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/debugProd/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/MediaService.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalytics.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/Clip.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VideoBackgroundController.kt
  modules/features/sharing/src/release/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalyticsTest.kt
Labels: unit-tests-exemption, Reimagine Sharing

#2564 Sharing code cleanup
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalytics.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingLogger.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/di/SharingModule.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ClipSelector.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalyticsTest.kt
Labels: unit-tests-exemption, Reimagine Sharing

#2573 Improve What's New stars animation
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/NewGiveRatingHeader.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/NewWidgetsHeader.kt
Labels: unit-tests-exemption, Give Rating

#2560 [Give Rating] Adding whats new for Give Rating
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivityViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/NewGiveRatingHeader.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/NewWidgetsHeader.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/WhatsNewFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/WhatsNewPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/WhatsNewViewModel.kt
  modules/services/images/src/main/res/drawable/star_filled_whats_new.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
Labels: unit-tests-exemption, Give Rating

#2567 Tweak podcast page ratings UI
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/StarRatingView.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
  modules/services/images/src/main/java/au/com/shiftyjelly/pocketcasts/images/PocketCastsIcons.kt
  modules/services/images/src/main/java/au/com/shiftyjelly/pocketcasts/images/icons/StarEmpty.kt
  modules/services/images/src/main/java/au/com/shiftyjelly/pocketcasts/images/icons/StarFull.kt
  modules/services/images/src/main/java/au/com/shiftyjelly/pocketcasts/images/icons/StarHalf.kt
Labels: polish, Give Rating

#2554 Transcripts - Add select text capability
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/toolbars/textselection/CustomMenuItemOption.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/toolbars/textselection/CustomTextToolbar.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/toolbars/textselection/FloatingTextActionModeCallback.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/toolbars/textselection/TextActionModeCallback.kt
Labels: unit-tests-exemption, Transcripts

#2576 Sync 7.70-rc-1
  CHANGELOG.md
  metadata/release_notes.txt
  version.properties
Labels: releases

#2556 Transcripts - Show scrollbar
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/extensions/Modifier.kt
Labels: Transcripts

#2565 Transcripts - Handle no content, no network
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/UrlUtil.kt
Labels: Transcripts

#2572 Add sharing to Instagram Stories
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  base.gradle
  dependencies.gradle.kts
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/BackgroundAssetController.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VideoBackgroundController.kt
Labels: Reimagine Sharing

#2570 Transcripts - Support caching
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastSyncProcessTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/servers/account/SyncAccountTest.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/shownotes/ShowNotesManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/shownotes/ShowNotesProcessor.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImplTest.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/shownotes/ShowNotesProcessTest.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/di/ServersModule.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/TranscriptCacheServer.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/NetworkWrapper.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/UrlUtil.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/exception/NoNetworkException.kt
Labels: Transcripts

#2579 Add scrollable content to clip sharing
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/Modifiers.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ShareColors.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BaseDialogFragment.kt
Labels: Reimagine Sharing

#2580 Animate transition between clip sharing steps
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipPageState.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ClipSelectorState.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: unit-tests-exemption, Reimagine Sharing

#2586 Remove unused Protocol Buffers script
  scripts/update_protobuf.sh
Labels: Tooling

#2553 [Kids Profile] Add tracks
  modules/features/kids/build.gradle.kts
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsBottomSheetDialog.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsDialog.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsSendFeedbackDialog.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/viewmodel/KidsSendFeedbackViewModel.kt
  modules/features/kids/src/test/java/au/com/shiftyjelly/pocketcasts/KidsSendFeedbackViewModelTest.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: Kids Profile

#2582 [Give Rating] Fix: Ratings Overlay reappears when swiped down
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingFragment.kt
Labels: bug, Give Rating

#2589 Sync with 7.70-rc-2
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingFragment.kt
  version.properties
Labels: releases

#2581 [Kids Profile] Send Anonymous feedback
  modules/features/kids/build.gradle.kts
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsBottomSheetDialog.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsSendFeedbackDialog.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/feedback/FeedbackManager.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/viewmodel/KidsSendFeedbackViewModel.kt
  modules/features/kids/src/test/java/au/com/shiftyjelly/pocketcasts/KidsSendFeedbackViewModelTest.kt
  modules/features/kids/src/test/java/au/com/shiftyjelly/pocketcasts/kids/feedback/FeedbackManagerTest.kt
  modules/services/protobuf/src/main/proto/sync_api.proto
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncServer.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncServerManager.kt
Labels: Kids Profile

#2590 [Tooling] Update Ruby Dependencies
  Gemfile.lock
Labels: Tooling

#2593 [Tooling] Update Ruby Dependencies for `scripts/themes/`
  scripts/themes/Gemfile.lock
Labels: Tooling, dependencies

#2585 Clip sharing page cleanup
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPageColorPreview.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ClipSelector.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/Devices.kt
Labels: Reimagine Sharing

#2588 Add UI for audio clips
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalytics.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/BackgroundAssetController.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/CardType.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SharePage.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingAnalyticsTest.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/BaseRowButton.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/RowLoadingButton.kt
  modules/services/images/src/main/res/drawable/ic_audio_card.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: Reimagine Sharing

#2592 Use scrolling card pattern in sharing screens
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/CardType.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/EpisodeCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/PodcastCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SharePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
Labels: Reimagine Sharing

#2598 [Give Rating] Update whats new texts
  modules/services/localization/src/main/res/values/strings.xml
Labels: Give Rating

#2591 [Kids Profile] Send feedback
  CHANGELOG.md
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsBottomSheetDialog.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsSendFeedbackDialog.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/feedback/FeedbackManager.kt
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/viewmodel/KidsSendFeedbackViewModel.kt
  modules/features/kids/src/test/java/au/com/shiftyjelly/pocketcasts/KidsSendFeedbackViewModelTest.kt
  modules/features/kids/src/test/java/au/com/shiftyjelly/pocketcasts/kids/feedback/FeedbackManagerTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncServer.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncServerManager.kt
Labels: Kids Profile

#2601 Update Google Services secrets
  .configure
  .configure-files/google-services.json.enc
Labels: Tooling

#2603 Use parent fragment manager instead of the child's one when creating Kids dialog
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
Labels: bug, high priority, Kids Profile

#2594 Share clips to all platforms
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipPlayer.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipSharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipViewModel.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SharePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SharingThemedSnackbar.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/FakeClipSharingClient.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: unit-tests-exemption, Reimagine Sharing

#2607 [Kids Profile] Remove remote feature flag
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: Kids Profile

#2599 [Give Ratings] Display snackbar instead of toast after rating a podcast
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingFragment.kt
Labels: Give Rating

#2605 Make texts in cards non-scaling
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/PocketCastsPill.kt
Labels: Reimagine Sharing

#2602 Fix pager indicator position
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/HorizontalPagerWrapper.kt
Labels: bug

#2604 Make initial play UI dispatch faster
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipPlayer.kt
Labels: Reimagine Sharing

#2612 Remove deprecated CreateTOSFragment
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/AccountActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/CreateTOSFragment.kt
  modules/features/account/src/main/res/layout/fragment_create_tos.xml
  modules/features/account/src/main/res/navigation/account_nav_graph.xml
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: tech debt

#2595 Add landscape layout to clip sharing
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SharePage.kt
Labels: Reimagine Sharing

#2613 Update the episode star value in the Media Session
  CHANGELOG.md
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/BaseEpisode.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/PodcastEpisode.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/UserEpisode.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: automotive, enhancement

#2597 Transcripts - Search UI
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/SearchBar.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: Transcripts

#2596 Add sharing analytics
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipAnalytics.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipShareType.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipViewModel.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeViewModel.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastViewModel.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampViewModel.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FakeTracker.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipViewModelTest.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodeViewModelTest.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastViewModelTest.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampViewModelTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: analytics, unit-tests-exemption, Reimagine Sharing

#2614 Sync with 7.70-rc-3
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/HorizontalPagerWrapper.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  version.properties
Labels: releases

#2618 Update upsell text copy
  modules/services/localization/src/main/res/values/strings.xml
Labels: polish

#2619 Sync with 7.70-rc-4
  modules/services/localization/src/main/res/values/strings.xml
  version.properties
Labels: releases

#2617 Transcripts - Update filters
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilter.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilterTest.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
Labels: unit-tests-exemption, Transcripts

#2616 Clean up Firebase analytics
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/analytics/FirebaseAnalyticsTrackerTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  automotive/src/main/java/au/com/shiftyjelly/pocketcasts/AutomotiveApplication.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/AccountActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/AccountFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/CarouselListRowAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/LargeListRowAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/MostPopularPodcastsAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastGridListFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastListFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/SmallListRowAdapter.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FilterEpisodeListViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerContainerFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/PlayButton.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragmentViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/FolderCreateFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastSettingsFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/HelpFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/status/StatusViewModel.kt
  modules/services/analytics/src/main/AndroidManifest.xml
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsTracker.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/FirebaseAnalyticsTracker.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/FirebaseAnalyticsWrapper.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/IdentifyingTracker.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/TrackerModule.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/di/TrackerModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SubscribeManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectHelper.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/tour/TourView.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/PocketCastsWearApplication.kt
Labels: analytics

#2615 Constraint max sharing card size on all screens
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/episode/ShareEpisodePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/podcast/SharePodcastPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/timestamp/ShareEpisodeTimestampPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/EpisodeCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/PodcastCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SharePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
Labels: Reimagine Sharing

#2622 Fix change avatar button text alignment
  modules/features/profile/src/main/res/layout/fragment_account_details.xml
Labels: bug

#2626 Transcipts - Display text using LazyColumn
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/extensions/Modifier.kt
Labels: Transcripts

#2620 Upgrade the Android Gradle Plugin to 8.5.2
  base.gradle
  gradle/libs.versions.toml
Labels: Tooling

#2611 Build prototype mobile app and comment on PR
  .buildkite/commands/prototype-build.sh
  .buildkite/pipeline.yml
  fastlane/Fastfile
Labels: Tooling, enhancement

#2623 Improve clip sharing accessibility
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipPageState.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipFragment.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipListener.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipViewModel.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/SharingState.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ClipSelector.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/FakeClipSharingClient.kt
  modules/features/sharing/src/test/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/ui/src/main/res/values/themes.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/Util.kt
Labels: unit-tests-exemption, Accessibility, Reimagine Sharing

#2636 Tweaks to the features page
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/BetaFeaturesFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/viewmodel/BetaFeaturesViewModel.kt
Labels: polish

#2634 Support sub-second clip resolution
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  modules/features/sharing/src/debug/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/debugProd/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ClipPlayer.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/DurationUtil.kt
  modules/services/utils/src/test/java/au/com/shiftyjelly/pocketcasts/utils/DurationUtilTest.kt
Labels: polish, Reimagine Sharing

#2632 Remove account creation deprecated code
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/AccountActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/AccountFragment.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/CreateAccountFragment.kt
  modules/features/account/src/main/res/layout/fragment_create_account.xml
  modules/features/account/src/main/res/navigation/account_nav_graph.xml
  modules/features/settings/src/main/res/drawable/panel_border.xml
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: tech debt

#2641 Use aac codec for mp4 audio
  modules/features/sharing/src/debug/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
  modules/features/sharing/src/debugProd/kotlin/au/com/shiftyjelly/pocketcasts/sharing/FFmpegMediaService.kt
Labels: polish, Reimagine Sharing

#2633 Transcripts - Search logic
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/KMPSearch.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptSearchViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/KMPSearchTest.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptSearchViewModelTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/DispatcherModule.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/extensions/String.kt
Labels: Transcripts

#2643 Transcripts - Replace transcript shelf icon
  modules/features/player/src/main/res/drawable/ic_transcript_32.xml
  modules/features/player/src/main/res/layout-land/adapter_player_header.xml
  modules/features/player/src/main/res/layout/adapter_player_header.xml
  modules/services/images/src/main/res/drawable/ic_transcript_24.xml
Labels: Transcripts

#2644 Mock product details in debug builds when offers are empty
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/OnboardingFlowComposableTest.kt
  modules/services/repositories/src/debug/kotlin/com/android/billingclient/api/ProductDetailsModule.kt
  modules/services/repositories/src/debugProd/kotlin/com/android/billingclient/api/ProductDetailsModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/ProductDetailsInterceptor.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
  modules/services/repositories/src/release/kotlin/au/com/shiftyjelly/pocketcasts/respositories/subscription/ProductDetailsModule.kt
Labels: unit-tests-exemption, Paywall Experiments

#2645 Comment on PR just after prototype builds job starts
  fastlane/Fastfile
Labels: Tooling, enhancement

#2640 Tweak kids banner style
  modules/features/kids/src/main/java/au/com/shiftyjelly/pocketcasts/kids/KidsBanner.kt
Labels: Kids Profile

#2635 [Paywall redesign] Add the new paywall
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeLayoutFeatures.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/BaseRowButton.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/RowButton.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/SubscriptionBadge.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: Paywall Experiments

#2642 Transcripts - Scroll to highlighted search text
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
Labels: Transcripts

#2653 Refresh the podcast rating after rating
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/GiveRatingViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/ratings/RatingsManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/ratings/RatingsManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServer.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServerManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServerManagerImpl.kt
Labels: Give Rating

#2657 Fix crash when clicking on chapter title within player
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/chapters/ChaptersFragment.kt
Labels: bug, Deselecting Chapters

#2639 [Give Rating] Add action tapping to stars
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/StarRatingView.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: Give Rating

#2646 Adjust sharing colors
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/clip/ShareClipPage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/social/PlatfromItem.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ClipSelector.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/CloseButton.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ShareColors.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SharePage.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/VerticalCard.kt
Labels: Reimagine Sharing

#2659 [Tooling] Apply required CI checks too when setting branch protection settings on release branch
  fastlane/Fastfile
Labels: Tooling

#2658 Sync with 7.70
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/StarRatingView.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/GiveRatingViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
  modules/features/profile/src/main/res/layout/fragment_account_details.xml
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-en-rGB/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nb/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/ratings/RatingsManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/ratings/RatingsManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServer.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServerManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServerManagerImpl.kt
  version.properties
Labels: releases

#2654 Transcripts - Update styles
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptDefaults.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptError.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/loading/LoadingView.kt
  modules/services/images/src/main/res/drawable/ic_warning.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/ui/src/main/res/font/roboto_serif.ttf
Labels: unit-tests-exemption, Transcripts

#2661 Revert copying branch protection from the main branch
  fastlane/Fastfile
Labels: high priority, Tooling

#2663 [Tooling] Add comment to `set_branch_protection` call
  fastlane/Fastfile
Labels: Tooling

#2651 Move Gradle configuration to build.gradle.kts
  app/build.gradle.kts
  automotive/build.gradle.kts
  base.gradle
  build.gradle.kts
  wear/build.gradle.kts
Labels: Tooling

#2666 Handle more podcast share links
  CHANGELOG.md
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
Labels: bug

#2662 Add A/A test
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/ExperimentProviderTest.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeLayout.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/Experiment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/ExperimentProvider.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/experiments/Variation.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: analytics, unit-tests-exemption

#2667 [Kids Profile] Add remote Feature flag
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: Kids Profile

#2668 Revert "Move Gradle configuration to build.gradle.kts (#2651)"
  app/build.gradle.kts
  automotive/build.gradle.kts
  base.gradle
  build.gradle.kts
  wear/build.gradle.kts
Labels: Tooling

#2669 Merge/release 7.71 into main
  CHANGELOG.md
  app/build.gradle.kts
  automotive/build.gradle.kts
  base.gradle
  build.gradle.kts
  metadata/release_notes.txt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  version.properties
  wear/build.gradle.kts
Labels: releases

#2670 [Give ratings] Catch all exceptions when refreshing ratings
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/ratings/RatingsManagerImpl.kt
Labels: bug, Give Rating

#2672 Integrate with Engage SDK
  app/build.gradle.kts
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  gradle/libs.versions.toml
  modules/features/engage/build.gradle.kts
  modules/features/engage/lint-baseline.xml
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/ClusterRequestFactory.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/EngageSdkBridge.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/EngageSdkBroadcastReceiver.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/EngageSdkLifecycleObserver.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/EngageSdkWorkers.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  settings.gradle.kts
Labels: unit-tests-exemption, [Project] Engage SDK

#2665 Transcripts: Display speaker info
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilter.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptFilterTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
Labels: unit-tests-exemption, Transcripts

#2671 Transcripts - Tracks
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerContainerFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptSearchViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/PlayerViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptSearchViewModelTest.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: Transcripts

#2673 Merge/release 7.71 rc2 into main
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/ratings/RatingsManagerImpl.kt
  version.properties
Labels: releases

#2674 [Paywall Experiment] Updates the Paywall experiment screen
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFlow.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeLayoutFeatures.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: Paywall Experiments

#2660 [Paywall Experiments] Add Paywall features cards
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallfeatures/FeaturesPaywallCards.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallfeatures/UpgradeLayoutFeatures.kt
  modules/services/images/src/main/res/drawable-hdpi/bookmarks.webp
  modules/services/images/src/main/res/drawable-hdpi/desktop.webp
  modules/services/images/src/main/res/drawable-hdpi/folders.webp
  modules/services/images/src/main/res/drawable-hdpi/slumber.webp
  modules/services/images/src/main/res/drawable-hdpi/storage.webp
  modules/services/images/src/main/res/drawable-hdpi/themes.webp
  modules/services/images/src/main/res/drawable-hdpi/watch.webp
  modules/services/images/src/main/res/drawable-xhdpi/bookmarks.webp
  modules/services/images/src/main/res/drawable-xhdpi/desktop.webp
  modules/services/images/src/main/res/drawable-xhdpi/folders.webp
  modules/services/images/src/main/res/drawable-xhdpi/slumber.webp
  modules/services/images/src/main/res/drawable-xhdpi/storage.webp
  modules/services/images/src/main/res/drawable-xhdpi/themes.webp
  modules/services/images/src/main/res/drawable-xhdpi/watch.webp
  modules/services/images/src/main/res/drawable-xxhdpi/bookmarks.webp
  modules/services/images/src/main/res/drawable-xxhdpi/desktop.webp
  modules/services/images/src/main/res/drawable-xxhdpi/folders.webp
  modules/services/images/src/main/res/drawable-xxhdpi/slumber.webp
  modules/services/images/src/main/res/drawable-xxhdpi/storage.webp
  modules/services/images/src/main/res/drawable-xxhdpi/themes.webp
  modules/services/images/src/main/res/drawable-xxhdpi/watch.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/bookmarks.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/desktop.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/folders.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/slumber.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/storage.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/themes.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/watch.webp
  modules/services/localization/src/main/res/values/strings.xml
Labels: unit-tests-exemption, Paywall Experiments

#2681 Fix show notes cache
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServer.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastCacheServerManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/ShowNotesResponse.kt
Labels: bug

#2680 Transcripts - Support json format
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptJsonParser.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
Labels: unit-tests-exemption, Transcripts

#2677 Fix create filter crash
  CHANGELOG.md
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/CreateFilterChipFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/CreateFilterContainerFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/CreateFilterFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/CreateFilterViewModel.kt
Labels: bug

#2683 Handle automatic playback from deep links
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/ShowEpisodeDeepLinkTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/ShowPodcastDeepLinkTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  automotive/src/main/java/au/com/shiftyjelly/pocketcasts/AutomotiveSettingsActivity.kt
  modules/features/nova/src/main/kotlin/au/com/shiftyjelly/pocketcasts/nova/CatalogFactory.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeContainerFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragmentViewModel.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLink.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/refresh/RefreshPodcastsThread.kt
  modules/services/ui/src/main/java/au/com/shiftyjelly/pocketcasts/ui/helper/FragmentHostListener.kt
Labels: [Project] Engage SDK

#2689 [Paywall Experiment] Tweaks for Upgrade Bottom Sheet
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeBottomSheet.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeHelper.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeButton.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: Paywall Experiments

#2685 Upgrade libraries with Dependabot
  .github/dependabot.yml
Labels: tech debt

#2678 Store non sponsored podcasts from Discover page in the databse
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/PodcastDaoTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastGridListFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/viewmodel/DiscoverViewModel.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsCrawler.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsSyncWorker.kt
  modules/features/discover/src/test/kotlin/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsCrawlerTest.kt
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/100.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PodcastDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/CuratedPodcast.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/TrendingPodcast.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/model/DiscoverModel.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/model/ListType.kt
Labels: unit-tests-exemption, [Project] Engage SDK

#2705 Add Pocket Casts logo to all cards
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/HorizontalCard.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/SquareCard.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/PocketCastsPill.kt
Labels: Reimagine Sharing

#2682 Consolidate Nova integration APIs with External Data APIs
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/EpisodeDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/ExternalDataDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/PodcastDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/UpNextDaoTest.kt
  base.gradle
  modules/features/nova/src/main/kotlin/au/com/shiftyjelly/pocketcasts/nova/CatalogFactory.kt
  modules/features/nova/src/main/kotlin/au/com/shiftyjelly/pocketcasts/nova/NovaLauncherBridge.kt
  modules/features/nova/src/main/kotlin/au/com/shiftyjelly/pocketcasts/nova/NovaLauncherQueueSync.kt
  modules/features/nova/src/main/kotlin/au/com/shiftyjelly/pocketcasts/nova/NovaLauncherSyncWorker.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/EpisodeDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/ExternalDataDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PodcastDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/UpNextDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/di/ModelModule.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/ExternalEntities.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/NovaLauncherInProgressEpisode.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/NovaLauncherNewEpisode.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/NovaLauncherQueueEpisode.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/NovaLauncherRecentlyPlayedPodcast.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/NovaLauncherSubscribedPodcast.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/NovaLauncherTrendingPodcast.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/RepositoryModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/nova/ExternalDataManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/nova/ExternalDataManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/nova/NovaLauncherManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/nova/NovaLauncherManagerImpl.kt
Labels: unit-tests-exemption, [Project] Engage SDK

#2692 Fix: Upgrade bottom sheet was not opening with the last selected tier
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeBottomSheetViewModel.kt
Labels: bug

#2690 Push PC data to Engage SDK
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/engage/build.gradle.kts
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/ClusterRequestFactory.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/EngageSdkWorkers.kt
  modules/features/engage/src/main/kotlin/au/com/shiftyjelly/pocketcasts/engage/RecommendationsData.kt
  modules/features/engage/src/test/kotlin/au/com/shiftyjelly/pocketcasts/engage/RecommendationsDataTest.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/share/ShareListIncomingFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/SourceView.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLink.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/EpisodeViewSource.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
Labels: [Project] Engage SDK

#2711 Transcripts - Disable transcript from shelf more options if transcript not available
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/ShelfBottomSheet.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/ShelfFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfBottomSheetViewModel.kt
Labels: unit-tests-exemption, Transcripts

#2706 Improve clip timeline interactions
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ClipSelector.kt
  modules/features/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/ui/ClipSelectorState.kt
Labels: Reimagine Sharing

#2703 Transcripts - Extract cue building to builder and load cues from manager
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptError.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/converter/TranscriptJsonConverter.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/to/TranscriptCuesInfo.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptCuesInfoBuilder.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/shownotes/ShowNotesProcessor.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptCuesInfoBuilderTest.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImplTest.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/exception/EmptyDataException.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/exception/ParsingException.kt
Labels: Transcripts

#2704 Transcripts - Fallback to alternative transcript
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/shownotes/ShowNotesProcessor.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/TranscriptsManagerImplTest.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/shownotes/ShowNotesProcessTest.kt
Labels: Transcripts

#2713 Upgrade to Fragment 1.8.2
  base.gradle
  gradle/libs.versions.toml
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/AdvancedSettingsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/BetaFeaturesFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/HeadphoneControlsSettingsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/ManualCleanupFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/StorageSettingsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperFragment.kt
Labels: tech debt

#2718 Transcripts - Reduce landscape search scroll offset
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptDefaults.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
Labels: Transcripts

#2717 Backport known CA certs
  CHANGELOG.md
  app/src/main/AndroidManifest.xml
  modules/features/shared/lint-baseline.xml
  modules/features/shared/src/main/AndroidManifest.xml
  modules/features/shared/src/main/res/raw/isrg_root_x1.pem
  modules/features/shared/src/main/res/raw/isrg_root_x2.pem
  modules/features/shared/src/main/res/raw/lets_encrypt_r10.pem
  modules/features/shared/src/main/res/xml/network_security_config.xml
  wear/src/main/AndroidManifest.xml
Labels: bug

#2684 [Paywall Experiment] Add new featured cards instead of the old ones
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallfeatures/FeaturesPaywallCards.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallfeatures/UpgradeLayoutFeatures.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/TextStyles.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/images/SubscriptionBadge.kt
Labels: Paywall Experiments

#2723 Change the labels for new issues and Dependabot PRs
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/dependabot.yml
Labels: enhancement

#2720 Transcripts - Remove search leading icon
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
Labels: [Type] Feature, [Project] Transcripts

#2725 [Paywall Experiment] Exclude patron from experiment
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
Labels: [Type] Feature, [Project] Paywall Experiments

#2722 [Give Rating] Add new source for rate tapping event
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/StarRatingView.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
Labels: unit-tests-exemption, [Project] Paywall Experiments

#2712 Transcripts - Talkback
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/res/layout/adapter_player_header.xml
  modules/features/player/src/main/res/layout/fragment_player_container.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/CloseButton.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Area] Accessibility, [Project] Transcripts

#2734 Transcripts - Display player controls on landscape large screens
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptDefaults.kt
  modules/features/player/src/main/res/layout-sw600dp/adapter_player_header.xml
  modules/features/player/src/main/res/values-land/bools.xml
  modules/features/player/src/main/res/values-land/dimens.xml
  modules/features/player/src/main/res/values-sw600dp/bools.xml
  modules/features/player/src/main/res/values-sw600dp/dimens.xml
  modules/features/player/src/main/res/values/bools.xml
  modules/features/player/src/main/res/values/dimens.xml
Labels: [Project] Transcripts

#2736 Backport known CA certs
  CHANGELOG.md
  app/src/main/AndroidManifest.xml
  modules/features/shared/lint-baseline.xml
  modules/features/shared/src/main/AndroidManifest.xml
  modules/features/shared/src/main/res/raw/isrg_root_x1.pem
  modules/features/shared/src/main/res/raw/isrg_root_x2.pem
  modules/features/shared/src/main/res/raw/lets_encrypt_r10.pem
  modules/features/shared/src/main/res/xml/network_security_config.xml
  wear/src/main/AndroidManifest.xml
Labels: [Type] Bug

#2737 Fix multi-select tool bar action order
  CHANGELOG.md
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/jobs/VersionMigrationsJobTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodeActionTest.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/jobs/VersionMigrationsJob.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectAction.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBookmarkAction.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBottomSheet.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodeAction.kt
Labels: [Type] Bug, [Area] Multiselect

#2739 Merge/release 7.71 r3 into main
  CHANGELOG.md
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeBottomSheetViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/StarRatingView.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastRatingsViewModel.kt
  version.properties
Labels: releases

#2745 Add What's New for Reimagine Sharing
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivityViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/NewGiveRatingHeader.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/SharingHeader.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/WhatsNewFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/WhatsNewPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/WhatsNewViewModel.kt
  modules/services/images/src/main/res/drawable/star_filled_whats_new.xml
  modules/services/images/src/main/res/drawable/whats_new_sharing_card.webp
  modules/services/images/src/main/res/drawable/whats_new_sharing_instagram.xml
  modules/services/images/src/main/res/drawable/whats_new_sharing_telegram.xml
  modules/services/images/src/main/res/drawable/whats_new_sharing_tumblr.xml
  modules/services/images/src/main/res/drawable/whats_new_sharing_whatsapp.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
Labels: [Type] Feature, [Priority] Medium, unit-tests-exemption, [Project] Reimagine Sharing

#2732 Referrals: add feature flag
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/res/drawable/ic_gift.xml
  modules/features/profile/src/main/res/layout-land/fragment_profile.xml
  modules/features/profile/src/main/res/layout/fragment_profile.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Project] Referrals

#2748 Transcripts - Add changelog
  CHANGELOG.md
Labels: [Project] Transcripts

#2729 Clean up Moshi configuration
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AutoArchiveTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/BookmarkDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/ChapterDaoSelectionTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/ChapterDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/EpisodeDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/ExternalDataDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/FolderDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/PodcastDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/PodcastManagerTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/SearchHistoryDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/UpNextQueueTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/UserEpisodeDaoTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/profile/accountmanager/PocketCastsAccountAuthenticatorTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/bookmark/BookmarkManagerTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastSyncProcessTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/servers/ShareServerManagerImplTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/servers/account/SyncAccountTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/settings/advanced/AdvancedSettingsTest.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/PromoCodeViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/di/AuthPhoneModule.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/watchsync/WatchSyncAuthData.kt
  modules/features/discover/src/test/kotlin/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsCrawlerTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/di/ModelModule.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/AnonymousBumpStat.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/AccountConstants.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/download/task/UploadEpisodeTask.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncAccountManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncAccountManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/SyncManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/di/ServersModule.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/HttpExceptionMessage.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/LoginIdentity.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/di/AuthWatchModule.kt
Labels: [Type] Tech Debt, unit-tests-exemption

#2735 Clean up OkHttp configuration
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastSyncProcessTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/servers/account/SyncAccountTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/di/AppModule.kt
  automotive/src/main/java/au/com/shiftyjelly/pocketcasts/di/AutomotiveAppModule.kt
  base.gradle
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/Annotations.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/RepositoryProviderModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/download/task/DownloadEpisodeTask.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/Interceptors.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/ServerManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/di/InterceptorModule.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/di/ServersModule.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SyncServerManager.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/di/WearNetworkModule.kt
Labels: [Type] Tech Debt

#2724 [Paywall Experiment] Add Upgrade Layout Reviews part 1
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeHelper.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeFeatureItem.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeLayoutComponents.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallfeatures/UpgradeLayoutFeatures.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallreviews/UpgradeLayoutReviews.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/services/images/src/main/res/drawable/ic_cloud_storage.xml
  modules/services/images/src/main/res/drawable/ic_desktop_apps.xml
  modules/services/images/src/main/res/drawable/ic_folders.xml
  modules/services/images/src/main/res/drawable/ic_slumber_studios.xml
  modules/services/images/src/main/res/drawable/ic_watch_play.xml
  modules/services/images/src/main/res/drawable/stars.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: unit-tests-exemption, [Project] Paywall Experiments

#2751 Fix a typo
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Other, [Project] Reimagine Sharing

#2757 Add missing user agent interceptor
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/di/InterceptorModule.kt
Labels: [Type] Other

#2756 Include feature flags state in reports
  modules/services/crashlogging/build.gradle.kts
  modules/services/crashlogging/src/main/java/au/com/shiftyjelly/pocketcasts/crashlogging/FilteringCrashLogging.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/support/Support.kt
Labels: [Type] Other

#2758 Share ExoPlayer cache between player and clips
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ClipPlayer.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/di/ClipSimpleCache.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/di/SharingModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/CacheWorker.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/CastPlayer.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/ExoPlayerDataSourceFactory.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/ExoPlayerHelper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/LocalPlayer.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/Player.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlayerFactoryImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/SimplePlayer.kt
  modules/services/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/Clip.kt
Labels: [Type] Feature, unit-tests-exemption, [Project] Reimagine Sharing

#2742 Improved full screen player Talkback
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerSeekBar.kt
  modules/features/player/src/main/res/layout/fragment_player_container.xml
  modules/features/player/src/main/res/layout/fragment_shelf_bottom_sheet.xml
  modules/features/player/src/main/res/layout/view_playback_seek_bar.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Other, [Area] Accessibility

#2765 Improved create issue screen
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
Labels: [Type] Other

#2764 Remove Glide dependency
  app/proguard-rules.pro
  base.gradle
  gradle/libs.versions.toml
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/auto/AlbumArtContentProvider.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/auto/AutoConverter.kt
  modules/services/ui/src/main/java/au/com/shiftyjelly/pocketcasts/ui/images/ThemedImageTintTransformation.kt
  wear/proguard-rules.pro
Labels: [Type] Tech Debt, [Area] Dependencies

#2746 Referrals: gift icon count badge
  modules/features/profile/build.gradle.kts
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ReferralsViewModel.kt
  modules/features/profile/src/test/java/au/com/shiftyjelly/pocketcasts/profile/ReferralsViewModelTest.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/component/IconCountBadge.kt
Labels: unit-tests-exemption, [Project] Referrals

#2750 [Paywall Experiment] Add Reviews section to Upgrade Layout Reviews
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallreviews/ReviewsData.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallreviews/UpgradeLayoutReviews.kt
  modules/services/images/src/main/res/drawable/stars.xml
  modules/services/images/src/main/res/drawable/stars_gradient.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: unit-tests-exemption, [Project] Paywall Experiments

#2770 Change labels required on a PR
  Dangerfile
Labels: [Type] Other, [Area] Tooling

#2769 Remove Engage integration
  app/build.gradle.kts
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
Labels: [Type] Feature, [Project] Engage SDK
