Repository Automattic/pocket-casts-android, pull requests merged in 2025-03, with the labels that each got.

#3678 Merge release/7.83 into main
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-ca/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  version.properties
Labels: releases

#3673 Support the Web Player share pages
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  app/src/main/AndroidManifest.xml
  build.gradle.kts
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
Labels: [Type] Enhancement, [Area] Sharing

#3674 Fix screen flicker upon nav bar navigation
  CHANGELOG.md
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfilePage.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/extensions/RecyclerView.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/TopScrollable.kt
Labels: [Type] Bug, [Area] Navigation

#3665 Add play action to skipping back and forward headphone actions
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: [Type] Bug, [Area] Pixel Buds

#3684 Improve media event logging
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/log/LogBuffer.kt
Labels: [Type] Other, [Area] Pixel Buds

#3675 [Suggested Folders] Tweaks part 3
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPage.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPaywallBottomSheet.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPaywallViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastsViewModel.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPaywallViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SuggestedFoldersManager.kt
Labels: [Type] Enhancement, [Project] Suggested Folders

#3676 [Slack Webhook] A new workflow to trigger Slack Webhook when high prio label is applied.
  .github/workflows/high-prio-issue-notify-slack.yml
Labels: [Type] Tooling, [Area] Tooling

#3698 Update header icon color
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastHeader.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/ExpandableText.kt
Labels: [Type] Bug, [Project] Podcast View Changes

#3687 Update bottom controls position with every layout change
  CHANGELOG.md
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
Labels: [Type] Bug, [Area] Android 15

#3688 [Tooling] Workaround: disable running `lint_task` during `finalize_release`
  fastlane/Fastfile
Labels: [Type] Tooling, [Area] Tooling

#3700 [Tooling] Update Ruby gems
  Gemfile.lock
Labels: [Type] Tooling, [Area] Dependencies, [Area] Tooling

#3702 Improve logs when episode caching fails
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/CacheWorker.kt
Labels: [Type] Other, [Area] Playback

#3706 Include toolbar height in podcast search scrolling offset
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/extensions/RecyclerView.kt
Labels: [Type] Bug, [Project] Podcast View Changes

#3705 Make header state collapsed when a podcast is already followed
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/110.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastSyncProcess.kt
Labels: [Type] Feature, [Project] Podcast View Changes

#3701 Remove obsolete suggested folders code
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPaywall.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPaywallBottomSheet.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPaywallViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastsViewModel.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPaywallViewModelTest.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModelTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/images/src/main/res/drawable/ic_swipe.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Project] Suggested Folders

#3707 Fix log format exception
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/log/LogBuffer.kt
Labels: [Type] Bug, [Area] Help & Feedback

#3703 Define policy for showing smart folders incetive
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPopupPolicy.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastsViewModel.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPopupPolicyTest.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperViewModel.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SuggestedFoldersManager.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SuggestedFoldersManagerTest.kt
  modules/services/sharedtest/src/main/java/au/com/shiftyjelly/pocketcasts/sharedtest/MutableClock.kt
Labels: [Type] Feature, [Project] Suggested Folders

#3704 Update suggested folder flow
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SuggestedFoldersManagerTest.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/Folder.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersMapper.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPage.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastsViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PodcastDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/SuggestedFolderDetails.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/FolderManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/FolderManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SuggestedFoldersManager.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SuggestedFoldersManagerTest.kt
Labels: [Type] Feature, [Project] Suggested Folders

#3710 Update Plus perks listing
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeFeatureItem.kt
  modules/services/images/src/main/res/drawable/ic_plus_feature_bookmark.xml
  modules/services/images/src/main/res/drawable/ic_plus_feature_chapters.xml
  modules/services/images/src/main/res/drawable/ic_plus_feature_cloud_storage.xml
  modules/services/images/src/main/res/drawable/ic_plus_feature_folder.xml
  modules/services/images/src/main/res/drawable/ic_plus_feature_shuffle.xml
  modules/services/images/src/main/res/drawable/ic_plus_feature_slumber_studios.xml
  modules/services/images/src/main/res/drawable/ic_plus_feature_themes.xml
  modules/services/images/src/main/res/drawable/ic_plus_feature_wearable.xml
  modules/services/images/src/main/res/drawable/ic_slumber_studios.xml
  modules/services/images/src/main/res/drawable/ic_themes.xml
  modules/services/images/src/main/res/drawable/ic_tick_circle_filled.xml
  modules/services/images/src/main/res/drawable/ic_watch_play.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Area] Subscriptions

#3711 [Tooling] Remove non-Ruby platforms from Gemfile.lock
  .bundle/config
  Gemfile.lock
Labels: [Type] Tooling, [Area] Tooling

#3717 Close episode details upon archiving
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
Labels: [Type] Enhancement, [Area] Episode Popup

#3708 Navigate to folder details
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFolderPodcastsPage.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPage.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastsViewModel.kt
Labels: [Type] Feature, [Project] Podcast View Changes

#3709 Handle free users suggested folders flow
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
Labels: [Type] Feature, [Project] Suggested Folders

#3718 Fix crash with podcast update when offline
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/refresh/RefreshServiceManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/refresh/RefreshServiceManagerImpl.kt
Labels: [Type] Bug, [Project] Podcast feed update

#3712 Add suggested folders analytics
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Feature, [Area] Analytics, [Project] Suggested Folders

#3721 Remove `search_in_listening_history` feature flag
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModelTest.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Area] Listening History

#3723 Remove `transcripts` feature flag
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerContainerFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfViewModel.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/shownotes/ShowNotesProcessor.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Project] Transcripts

#3722 Remove `custom_playback_settings` feature flag
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/EffectsFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/PlayerViewModel.kt
  modules/features/player/src/main/res/layout/fragment_effects.xml
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastEffectsViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SubscribeManager.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Project] Custom Playback Settings

#3728 Update suggested folder analytics value
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
Labels: [Type] Enhancement, [Project] Suggested Folders

#3725 Remove `deselect_chapter` feature flag and patron exclusive tier criteria
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeFeatureCard.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeFeatureItem.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/chapters/ChaptersFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/chapters/ChaptersViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ChaptersViewModelTest.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/onboarding/OnboardingUpgradeSource.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/whatsnew/WhatsNewFragment.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/to/Chapters.kt
  modules/services/model/src/test/java/au/com/shiftyjelly/pocketcasts/models/to/ChaptersTest.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Tech Debt, [Project] Deselecting Chapters

#3727 Add SuggestedFoldersViewModelTest
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModelTest.kt
Labels: [Type] Tech Debt, [Project] Suggested Folders

#3726 Add feature flag for podcasts sorting changes
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Project] Improve Podcasts Sorting

#3729 Do not resume playback when skipping back with a headset action
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: [Type] Enhancement, [Area] Pixel Buds

#3730 [AndroidManifest] Reveal Manifest Changes in PR
  .buildkite/commands/diff-merged-manifest.sh
  .buildkite/pipeline.yml
  .buildkite/shared-pipeline-vars
Labels: [Type] Tooling, [Area] Tooling, [Type] Core

#3733 Update podcast sorting options order
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsOptionsDialog.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/PodcastsSortType.kt
Labels: [Type] Feature, [Project] Improve Podcasts Sorting

#3735 [Deps] Group Kotlin & KSP Dependabot Updates
  .github/dependabot.yml
Labels: [Area] Dependencies, [Area] Tooling, [Type] Core

#3746 Podcast Page: Fix pull-to-refresh on episode swipe
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/SwipeToArchiveCallback.kt
Labels: [Type] Bug, [Area] Podcast Page

#3749 [AndroidManifest] Improve Merged Manifest Diff
  .buildkite/shared-pipeline-vars
Labels: [Type] Tooling, [Area] Tooling, [Type] Core

#3751 Add generated transcripts paywall screen
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptsPaywall.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Project] Transcripts

#3753 Restrcuture transcripts page UI
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptDefaults.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptError.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/res/values-sw600dp/dimens.xml
  modules/features/player/src/main/res/values/dimens.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/FadedLazyList.kt
Labels: [Type] Feature, [Project] Transcripts

#3754 Display generated transcripit information
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptDefaults.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/res/values-sw600dp/dimens.xml
  modules/features/player/src/main/res/values/dimens.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Project] Transcripts

#3756 Upsell transcripts
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/nowplaying/PlayerHeadingSection.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/shelf/PlayerShelf.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptError.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModelTest.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/onboarding/OnboardingUpgradeSource.kt
Labels: [Type] Feature, [Project] Transcripts

#3757 Improve transcript transition animation
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerContainerFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/nowplaying/PlayerHeadingSection.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModel.kt
  modules/features/player/src/main/res/values-sw600dp/dimens.xml
  modules/features/player/src/main/res/values/dimens.xml
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModelTest.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/extensions/Springs.kt
  modules/services/views/src/main/res/values/ids.xml
Labels: [Type] Feature, [Project] Transcripts

#3758 Add generated transcripts Tracks
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerContainerFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPageWrapper.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModel.kt
  modules/features/player/src/test/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModelTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Feature, [Area] Analytics, [Project] Transcripts

#3759 Do not show recommendation page when subscribing via transcripts
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
Labels: [Type] Feature, [Project] Transcripts

#3765 Improve logs for episode download url updates
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/download/task/UpdateEpisodeTask.kt
Labels: [Type] Other, [Area] Downloads

#3763 Add podcast_screen_podcast_details_link_tapped event
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Area] Analytics, [Type] Enhancement

#3761 Add IME padding to the bookmarks page
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarkFragment.kt
Labels: [Type] Bug, [Project] Bookmarks

#3762 Fix nav bar overlay issues
  CHANGELOG.md
  app/build.gradle.kts
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/view/BottomNavHideManager.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/view/LockableBottomSheetBehavior.kt
  app/src/main/res/layout/activity_main.xml
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerBottomSheet.kt
Labels: [Type] Bug, [Area] Player UI, [Area] Up Next, [Area] Android 15

#3767 Fix multiselect toolbar position
  modules/features/podcasts/src/main/res/layout/fragment_podcast_redesign.xml
Labels: [Type] Feature, [Project] Podcast View Changes

#3769 Widgets: update titles and add descriptions
  CHANGELOG.md
  modules/features/widgets/src/main/res/xml/large_player_widget.xml
  modules/features/widgets/src/main/res/xml/medium_player_widget.xml
  modules/features/widgets/src/main/res/xml/small_player_widget.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/res/xml/widget.xml
Labels: [Type] Enhancement, [Area] Widgets

#3772 Add generated transcripts remote feature flag
  CHANGELOG.md
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Project] Transcripts

#3775 Remove flaky tests
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersViewModelTest.kt
Labels: [Type] Bug, unit tests, [Project] Suggested Folders

#3720 Enable suggested folders remote feature flag
  CHANGELOG.md
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Project] Suggested Folders

#3770 Improve small widget accessibility
  CHANGELOG.md
  modules/features/widgets/src/main/kotlin/au/com/shiftyjelly/pocketcasts/widget/ui/EpisodeImage.kt
  modules/features/widgets/src/main/kotlin/au/com/shiftyjelly/pocketcasts/widget/ui/SmallPlayer.kt
Labels: [Type] Enhancement, [Area] Accessibility, [Area] Widgets

#3779 Android15 upgrade layout fix
  CHANGELOG.md
  app/build.gradle.kts
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/view/BottomNavHideManager.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/view/LockableBottomSheetBehavior.kt
  app/src/main/res/layout/activity_main.xml
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerBottomSheet.kt
Labels: [Type] Bug, [Area] Android 15

#3771 Read data collection default value from local.properties
  modules/services/preferences/build.gradle.kts
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Other, [Area] Analytics

#3781 Add padding to the podcast grid
  CHANGELOG.md
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Bug, [Area] Podcasts Tab

#3789 Fix share transcript text when API less than 33
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/transcripts/TranscriptPage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/toolbars/textselection/CustomTextToolbar.kt
Labels: [Type] Bug, [Project] Transcripts

#3786 [Tooling] Update gems to latest version
  Gemfile.lock
Labels: [Type] Tooling, [Area] Tooling

#3778 [Empty states] Update Empty state for Files
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/CloudFilesFragment.kt
  modules/features/profile/src/main/res/drawable/ic_no_files.xml
  modules/features/profile/src/main/res/layout/fragment_cloud_files.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Area] User Files

#3791 Update mobile secrets
  .configure
  .configure-files/secret.properties.enc
Labels: [Type] Tooling, [Area] Tooling

#3792 Apply window insets to multi-select toolbar across all Android versions
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/res/layout/fragment_podcast.xml
  modules/features/podcasts/src/main/res/layout/fragment_podcast_redesign.xml
Labels: [Type] Bug, [Area] Podcast Page

#3799 Attempt to fix NPE in Podcasts tab
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
Labels: [Type] Bug, [Area] Podcasts Tab

#3798 [Suggested Folders] Update text color and remove extra bottom padding
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersPage.kt
Labels: [Type] Enhancement, [Project] Suggested Folders

#3800 Confirm download file deletes.
  CHANGELOG.md
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/dialog/ConfirmationDialog.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodesHelper.kt
Labels: [Area] Multiselect, [Type] Enhancement

#3802 Fix subscription mapper not using all offers
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModel.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionMapper.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/referrals/ReferralOfferInfoProviderTest.kt
Labels: [Type] Bug, [Priority] High, [Area] Subscriptions

#3804 Cherry-pick changes from #3802
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModel.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionMapper.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/referrals/ReferralOfferInfoProviderTest.kt
Labels: [Type] Bug, [Area] Subscriptions

#3795 Up Next History - Add db, dao, manager classes
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/UpNextHistoryDaoTest.kt
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/112.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/UpNextHistoryDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/di/ModelModule.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/UpNextHistory.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/UpNextHistoryEntry.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/RepositoryModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/history/upnext/UpNextHistoryManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/history/upnext/UpNextHistoryManagerImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/history/upnext/UpNextHistoryManagerImplTest.kt
Labels: [Type] Feature, HACK week, [Area] Up Next, [Area] Settings

#3797 Up Next History - Show episode details and restore
  CHANGELOG.md
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/history/HistoryFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/history/upnext/UpNextHistoryDetailsPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/history/upnext/UpNextHistoryDetailsViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/history/upnext/UpNextHistoryPage.kt
  modules/features/settings/src/test/java/au/com/shiftyjelly/pocketcasts/settings/history/upnext/UpNextHistoryDetailsViewModelTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/SourceView.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/TextStyles.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
Labels: [Type] Feature, HACK week, [Area] Up Next, [Area] Settings

#3794 [Empty states] Update for Up next
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerClickListener.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextAdapter.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextFragment.kt
  modules/features/player/src/main/res/drawable/up_next_card.xml
  modules/features/player/src/main/res/layout/adapter_up_next_footer.xml
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Area] Up Next

#3755 [Guest List and Network Highlight] Add header
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/CollectionListRowAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastCollectionItem.kt
  modules/features/discover/src/main/res/layout/collection_header.xml
  modules/features/discover/src/main/res/layout/item_collection_list.xml
  modules/features/discover/src/main/res/layout/podcast_collection_item.xml
  modules/features/discover/src/main/res/layout/row_collection_list.xml
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Project] Guest list and Network highlight changes

#3817 [Empty State] Update Bookmarks
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/components/NoBookmarksView.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/components/NoBookmarksViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/components/UpsellView.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/BookmarksViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/adapter/BookmarkUpsellViewHolder.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/adapter/NoBookmarkViewHolder.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Project] Bookmarks, [Type] Enhancement

#3818 Fix header size for collection
  modules/features/discover/src/main/res/layout/collection_header.xml
Labels: [Type] Enhancement, [Project] Guest list and Network highlight changes

#3819 Podcasts Sorting: Show tooltip
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastHeaderTooltip.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/RecentlyPlayedSortOptionTooltip.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastsViewModel.kt
  modules/features/podcasts/src/main/res/layout/fragment_podcasts.xml
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsIconWithTooltip.kt
  modules/features/shared/src/main/java/au/com/shiftyjelly/pocketcasts/shared/AppLifecycleObserver.kt
  modules/features/shared/src/test/java/au/com/shiftyjelly/pocketcasts/shared/AppLifecycleObserverTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/PopupDropdownMenuTooltip.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/Tooltip.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Feature, [Area] Podcasts Tab, [Project] Improve Podcasts Sorting

#3821 Podcasts Sorting - Update external data dao query for the "Recently played" sort option
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/ExternalDataDaoTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/ExternalDataDao.kt
Labels: [Type] Other, [Project] Improve Podcasts Sorting

#3823 Temporary fix for video not playing in landscape mode
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/video/VideoView.kt
Labels: [Type] Bug, [Area] Playback

#3827 Temporary fix for video not playing in landscape mode (#3823)
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/video/VideoView.kt
Labels: [Type] Bug, [Area] Playback

#3828 Merge release/7.85 into main
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-ca/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-en-rGB/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nb/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  version.properties
Labels: releases

#3822 Refactor PodcastSelectFragment
  modules/services/views/build.gradle.kts
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/PodcastSelectFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/viewmodels/PodcastSelectViewModel.kt
  modules/services/views/src/test/java/au/com/shiftyjelly/pocketcasts/views/viewmodels/PodcastSelectViewModelTest.kt
Labels: [Type] Tech Debt, [Area] Settings

#3824 Fix text clipping at large font sizes on the Podcast Select screen
  modules/services/views/src/main/res/layout/settings_fragment_podcast_select.xml
  modules/services/views/src/main/res/layout/settings_row_podcast.xml
Labels: [Type] Bug, [Area] Accessibility, [Area] Settings

#3815 [Empty State] Update for Filters
  app/src/test/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModelTest.kt
  app/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/FolderEditViewModelTest.kt
  modules/features/filters/build.gradle.kts
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersTooltip.kt
  modules/features/filters/src/main/res/layout/fragment_filters.xml
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PlaylistManagerImpl.kt
Labels: [Type] Enhancement, [Area] Filters
