Repository Automattic/pocket-casts-android, pull requests merged in 2025-04, with the labels that each got.

#3829 AppsFlyer setting
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/privacy/PrivacyFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/privacy/PrivacyViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/privacy/UserAnalyticsSettings.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/settings/PrivacySettingsScreen.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/settings/PrivacySettingsViewModel.kt
Labels: [Type] Feature, [Area] Analytics

#3840 Funding tag support - Add funding button to podcast view
  CHANGELOG.md
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastHeader.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/features/podcasts/src/main/res/drawable/ic_donate_coin.xml
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/113.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/Podcast.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastRefresherImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastResponse.kt
Labels: [Type] Feature, [Area] Podcast Page

#3842 Adds tracking consent dialog to onboarding flow
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingLoginOrSignUpPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingLoginOrSignUpViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/consent/TrackingConsentDialog.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/privacy/UserAnalyticsSettings.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/buttons/RowOutlinedButton.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Feature, [Area] Analytics

#3843 Update up next history transition
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/history/HistoryFragment.kt
  modules/services/compose/build.gradle.kts
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/extensions/Transition.kt
Labels: [Type] Other, [Area] Settings

#3854 Podcast list: align podcast details vertically
  modules/features/discover/src/main/res/layout/row_podcast.xml
Labels: [Type] Enhancement, [Area] Discover Tab

#3849 [Push Notifications Revamp] Add database
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/114.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/converter/NotificationCategoryConverter.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/Notifications.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/UserNotifications.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/NotificationCategory.kt
Labels: [Type] Feature, unit-tests-exemption, [Project] Push Notifications Revamp

#3850 [Push Notifications Revamp] Add Daily reminders group to Notifications screen
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/NotificationsSettingsFragment.kt
  modules/features/settings/src/main/res/xml/preferences_notifications.xml
  modules/features/shared/src/main/java/au/com/shiftyjelly/pocketcasts/shared/AppLifecycleObserver.kt
  modules/features/shared/src/test/java/au/com/shiftyjelly/pocketcasts/shared/AppLifecycleObserverTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Project] Push Notifications Revamp

#3861 [Push Notifications Revamp] Support deeplink for Filters tab
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/ShowFiltersDeepLinkTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLink.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
Labels: [Type] Feature, [Project] Push Notifications Revamp

#3859 [Push Notifications Revamp] Support deeplink for Import
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/ImportDeepLinkTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLink.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
Labels: [Type] Feature, [Project] Push Notifications Revamp

#3852 [Push Notifications Revamp] Support deeplink for Upsell
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactoryTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/deeplink/UpsellDeepLinkTest.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/onboarding/OnboardingUpgradeSource.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLink.kt
  modules/services/deeplink/src/main/kotlin/au/com/shiftyjelly/pocketcasts/deeplink/DeepLinkFactory.kt
Labels: [Type] Feature, [Project] Push Notifications Revamp

#3865 Add account creation encouragement feature flag
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Area] Login

#3868 Run release apks in parallel
  .buildkite/commands/assemble-release-apk.sh
  .buildkite/pipeline.yml
Labels: [Type] Tooling, [Type] Enhancement, [Area] Performance

#3867 Refresh existing episodes content metadata
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastRefresherImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/extensions/Response.kt
Labels: [Type] Bug, [Area] Refresh Podcasts

#3864 Adds Greek locale support
  CHANGELOG.md
  fastlane/Fastfile
  modules/services/localization/src/main/res/values-el/strings.xml
Labels: [Type] Enhancement, [Area] Translations i18n

#3869 Add free account banner to profile page
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfilePage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileViewModel.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/Banner.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Feature, [Area] Login

#3873 Track app install event after consent
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingLoginOrSignUpViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AppsFlyerAnalyticsTracker.kt
Labels: [Area] Analytics, [Type] Enhancement

#3870 Add free account banner to filters page
  app/src/test/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModelTest.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModel.kt
  modules/features/filters/src/main/res/layout/fragment_filters.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Feature, [Area] Login

#3871 Add free account banner to history page
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/podcasts/src/main/res/layout/fragment_profile_episode_list.xml
  modules/features/podcasts/src/test/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModelTest.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Feature, [Area] Login

#3875 Fix create filter crash
  app/src/test/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModelTest.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModel.kt
Labels: [Type] Bug, [Area] Filters

#3866 Add Libro.fm to Upsell
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/components/UpgradeFeatureItem.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeFeatureItem.kt
  modules/services/images/src/main/res/drawable/ic_plus_feature_libro.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Area] Subscriptions

#3874 Adds Greek localisation strings
  app/src/main/res/xml/locales_config.xml
  modules/services/localization/src/main/res/values-el/strings.xml
  modules/services/localization/src/main/res/values/available_languages.xml
Labels: [Type] Enhancement, [Area] Translations i18n

#3888 Initialize volume boost when audio session ID is available
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/ShiftyRenderersFactory.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/SimplePlayer.kt
Labels: [Type] Bug, [Area] Playback

#3892 Remove podcast header redesign feature flag
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/ui/MainActivityTest.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastHeader.kt
  modules/features/podcasts/src/main/res/drawable/button_rounded.xml
  modules/features/podcasts/src/main/res/drawable/button_rounded_green.xml
  modules/features/podcasts/src/main/res/drawable/button_rounded_ripple.xml
  modules/features/podcasts/src/main/res/layout-land/view_podcast_header_top.xml
  modules/features/podcasts/src/main/res/layout/adapter_podcast_header.xml
  modules/features/podcasts/src/main/res/layout/fragment_podcast.xml
  modules/features/podcasts/src/main/res/layout/fragment_podcast_redesign.xml
  modules/features/podcasts/src/main/res/layout/view_podcast_header_bottom.xml
  modules/features/podcasts/src/main/res/layout/view_podcast_header_top.xml
  modules/features/podcasts/src/main/res/menu/podcast_menu.xml
  modules/features/podcasts/src/main/res/values-land/dimens.xml
  modules/features/podcasts/src/main/res/values/dimens.xml
  modules/services/images/src/main/res/drawable/ic_share_white_24dp.xml
  modules/services/ui/src/main/res/values/themes.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  modules/services/views/src/main/res/animator/rotate_chevron.xml
Labels: [Type] Tech Debt, [Project] Podcast View Changes

#3846 [Guest List and Network Highlight] UI Tweaks
  modules/features/discover/src/main/res/drawable/header_text_linear_gradient.xml
  modules/features/discover/src/main/res/layout/collection_header.xml
  modules/features/discover/src/main/res/layout/item_collection_list.xml
  modules/features/discover/src/main/res/layout/podcast_collection_item.xml
Labels: [Type] Enhancement, [Project] Guest list and Network highlight changes

#3896 [Push Notifications Revamp] Setup remaining notifications channels
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationHelper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationHelperImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/OnboardingNotificationWorker.kt
Labels: [Type] Feature, [Project] Push Notifications Revamp

#3887 Display profile encouragement screen
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/AccountBenefitsPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/onboarding/OnboardingFlow.kt
  modules/features/shared/src/main/java/au/com/shiftyjelly/pocketcasts/shared/AppLifecycleObserver.kt
  modules/features/shared/src/test/java/au/com/shiftyjelly/pocketcasts/shared/AppLifecycleObserverTest.kt
  modules/services/images/src/main/res/drawable-hdpi/account_benefit_backups.webp
  modules/services/images/src/main/res/drawable-hdpi/account_benefit_recommendations.webp
  modules/services/images/src/main/res/drawable-hdpi/account_benefit_sync.webp
  modules/services/images/src/main/res/drawable-ldpi/account_benefit_backups.webp
  modules/services/images/src/main/res/drawable-ldpi/account_benefit_recommendations.webp
  modules/services/images/src/main/res/drawable-ldpi/account_benefit_sync.webp
  modules/services/images/src/main/res/drawable-mdpi/account_benefit_backups.webp
  modules/services/images/src/main/res/drawable-mdpi/account_benefit_recommendations.webp
  modules/services/images/src/main/res/drawable-mdpi/account_benefit_sync.webp
  modules/services/images/src/main/res/drawable-xhdpi/account_benefit_backups.webp
  modules/services/images/src/main/res/drawable-xhdpi/account_benefit_recommendations.webp
  modules/services/images/src/main/res/drawable-xhdpi/account_benefit_sync.webp
  modules/services/images/src/main/res/drawable-xxhdpi/account_benefit_backups.webp
  modules/services/images/src/main/res/drawable-xxhdpi/account_benefit_recommendations.webp
  modules/services/images/src/main/res/drawable-xxhdpi/account_benefit_sync.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/account_benefit_backups.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/account_benefit_recommendations.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/account_benefit_sync.webp
  modules/services/images/src/main/res/drawable/ic_account_benefit_backups.xml
  modules/services/images/src/main/res/drawable/ic_account_benefit_recommendations.xml
  modules/services/images/src/main/res/drawable/ic_account_benefit_sync.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
Labels: [Type] Feature, [Area] Login

#3891 Add account encouregement analytics
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/AccountBenefit.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/AccountBenefitsDialog.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/AccountBenefitsFragment.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/AccountBenefitsPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingAccountBenefitsViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListViewModel.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/onboarding/OnboardingFlow.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Feature, [Area] Analytics, [Area] Login, unit-tests-exemption

#3897 Add recommendations feature flag
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Project] Recommendations

#3898 Skip recommendations when upselling from some features
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingFlowComposable.kt
Labels: [Type] Enhancement, [Area] Subscriptions

#3906 Update winback pages title copies
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Project] Winback

#3903 Refactors Discover feed loading to use coroutines
  automotive/src/main/java/au/com/shiftyjelly/pocketcasts/AutoPlaybackService.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingRecommendationsStartPageViewModel.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/viewmodel/DiscoverViewModel.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/viewmodel/PodcastListViewModel.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsCrawler.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/categories/CategoriesManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/server/ListRepository.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/server/ListWebService.kt
Labels: [Type] Tech Debt, [Area] Discover Tab, [Project] Recommendations

#3904 Switch to version 3 of the Discover content JSON
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsCrawler.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsSyncWorker.kt
  modules/features/discover/src/test/kotlin/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsCrawlerTest.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/server/ListRepository.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/server/ListWebService.kt
Labels: [Type] Feature, [Area] Discover Tab, [Project] Recommendations

#3909 Enable account encouragement feature flag
  CHANGELOG.md
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Area] Login

#3908 Add weekly price to yearly offers during winback flow
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/AvailablePlansPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModel.kt
  modules/features/profile/src/test/kotlin/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Project] Winback

#3910 Fix issue with disappearing file image right after upload completes
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/UserEpisodeManager.kt
Labels: [Type] Bug, [Area] Storage

#3911 Move billing client wrapper to a separate module
  modules/services/payment/build.gradle.kts
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/Logger.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingClientWrapper.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingResultExtension.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/ClientConnection.kt
  modules/services/repositories/build.gradle.kts
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/RepositoryProviderModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/BillingClientWrapper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/winback/WinbackManagerImpl.kt
  settings.gradle.kts
Labels: [Type] Tech Debt, [Area] Billing

#3922 Handles podcast subscription race condition
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManagerImpl.kt
Labels: [Type] Bug, [Area] Discover Tab

#3917 Respect orientation when laying out artwork and player controls
  CHANGELOG.md
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/nowplaying/ArtworkSection.kt
Labels: [Type] Bug, [Area] Player UI

#3924 Rename payment types and functions
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/Data.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingPaymentMapper.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/Extensions.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/PaymentDataSource.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingPaymentMapperTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/RepositoryProviderModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
Labels: [Type] Tech Debt, [Area] Billing

#3921 Improves Discover list loading and error handling
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverFragment.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/viewmodel/DiscoverViewModel.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/lists/ListRepository.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/model/DiscoverModel.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/extensions/RecyclerView.kt
Labels: [Type] Feature, [Project] Recommendations

#3923 Fixes Discover tab loading on Automotive
  automotive/src/main/java/au/com/shiftyjelly/pocketcasts/AutoPlaybackService.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingRecommendationsStartPageViewModel.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/viewmodel/DiscoverViewModel.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/viewmodel/PodcastListViewModel.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/worker/CuratedPodcastsCrawler.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/lists/ListRepository.kt
Labels: [Type] Feature, [Project] Recommendations

#3925 Add subscription types to the payment module
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/Data.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentResult.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentResultTest.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/SubscriptionPlansTest.kt
Labels: [Type] Tech Debt, [Area] Billing

#3929 Attempt to fix NoSuchElementException crash
  CHANGELOG.md
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/UpNextDao.kt
Labels: [Type] Bug, [Area] Up Next

#3926 Load subscriptions plans
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/services/payment/build.gradle.kts
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/FakePaymentDataSource.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentClient.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentDataSource.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentResult.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingPaymentDataSource.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentClientTest.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentResultTest.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/TestLogger.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/RepositoryProviderModule.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
Labels: [Type] Tech Debt, unit-tests-exemption, [Area] Billing

#3941 Add purchase APIs to the payment module
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/Data.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/FakePaymentDataSource.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentClient.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentDataSource.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentResult.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingPaymentDataSource.kt
  modules/services/payment/src/main/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingPaymentMapper.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentClientTest.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/PaymentResultTest.kt
  modules/services/payment/src/test/kotlin/au/com/shiftyjelly/pocketcasts/payment/billing/BillingPaymentMapperTest.kt
  modules/services/payment/src/test/kotlin/com/android/billingclient/api/ProductDetails.kt
Labels: [Type] Tech Debt, [Area] Billing

#3942 Increase contrast on Upgrade screen for better readability
  CHANGELOG.md
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/components/ProductAmountVerticalText.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/SubscriptionProductAmountHorizontal.kt
Labels: [Type] Enhancement, [Area] Accessibility
