Repository Automattic/pocket-casts-android, pull requests merged in 2025-01, with the labels that each got.

#3388 Fix Galaxy Watch skip issues
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: [Type] Bug, [Area] Wear OS

#3400 Merge release/7.79 into main
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  version.properties
Labels: releases

#3297 Fix skip forward/back on some remote devices such as wired and wireless headsets
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: [Type] Bug, [Area] Playback

#3399 [Tech Debt] Extract end of episode code out of PlaybackManager
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackState.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/SleepTimer.kt
Labels: [Type] Tech Debt, [Project] Sleep Timer

#3395 Disable Private Feed Sharing
  CHANGELOG.md
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/shelf/PlayerShelf.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/shelf/ShelfBottomSheetPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/share/ShareListCreateViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/106.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/Podcast.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastResponse.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Enhancement, [Area] Podcast Page

#3405 [Manage Download] Update manage download dismiss banner
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileManageDownloadsCard.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Project] Manage Downloaded Episodes

#3406 Tracks Audit: Battery restrictions events
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BatteryRestrictionsSettingsFragment.kt
Labels: [Type] Other, [Area] Analytics

#3409 Disable End of Year feature flags
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Other, [Project] End of Year

#3407 Support log and icon improvements
  app/src/main/AndroidManifest.xml
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/viewmodel/SettingsAppearanceViewModel.kt
  modules/services/images/src/main/res/drawable-hdpi/appicon_pride.png
  modules/services/images/src/main/res/drawable-mdpi/appicon_pride.png
  modules/services/images/src/main/res/drawable-xhdpi/appicon_pride.png
  modules/services/images/src/main/res/drawable-xxhdpi/appicon_pride.png
  modules/services/images/src/main/res/drawable-xxxhdpi/appicon_pride.png
  modules/services/images/src/main/res/mipmap-anydpi-v26/ic_launcher_pride.xml
  modules/services/images/src/main/res/mipmap-hdpi/ic_launcher_pride_background.png
  modules/services/images/src/main/res/mipmap-hdpi/ic_launcher_pride_foreground.png
  modules/services/images/src/main/res/mipmap-mdpi/ic_launcher_pride.png
  modules/services/images/src/main/res/mipmap-mdpi/ic_launcher_pride_background.png
  modules/services/images/src/main/res/mipmap-mdpi/ic_launcher_pride_foreground.png
  modules/services/images/src/main/res/mipmap-xhdpi/ic_launcher_pride.png
  modules/services/images/src/main/res/mipmap-xhdpi/ic_launcher_pride_background.png
  modules/services/images/src/main/res/mipmap-xhdpi/ic_launcher_pride_foreground.png
  modules/services/images/src/main/res/mipmap-xxhdpi/ic_launcher_pride.png
  modules/services/images/src/main/res/mipmap-xxhdpi/ic_launcher_pride_background.png
  modules/services/images/src/main/res/mipmap-xxhdpi/ic_launcher_pride_foreground.png
  modules/services/images/src/main/res/mipmap-xxxhdpi/ic_launcher_pride.png
  modules/services/images/src/main/res/mipmap-xxxhdpi/ic_launcher_pride_background.png
  modules/services/images/src/main/res/mipmap-xxxhdpi/ic_launcher_pride_foreground.png
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/model/AppIconSetting.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/support/Support.kt
  modules/services/ui/src/main/java/au/com/shiftyjelly/pocketcasts/ui/helper/AppIcon.kt
Labels: [Type] Enhancement, [Area] Help & Feedback

#3412 [Tooling] Introduce publish_release lane
  fastlane/Fastfile
Labels: [Type] Tooling, [Area] Tooling

#3413 Tracks Audit: Add About Track event
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/about/AboutFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/SourceView.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
Labels: [Type] Other, [Area] Analytics

#3410 Tracks Audit: Add new subscriptions events
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeBottomSheet.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFlow.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeHelper.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/paywallreviews/UpgradeLayoutReviews.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Other, [Area] Analytics, [Area] Subscriptions

#3416 Tracks Audit: Add Advanced episode artwork settings events
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/EpisodeArtworkConfigurationFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Other, [Area] Analytics

#3417 Tracks Audit: Track Crash Report Event
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/privacy/UserAnalyticsSettings.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Other, [Area] Analytics

#3415 Tracks Audit: Add events for podcast screen selection
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/PodcastSelectFragment.kt
Labels: [Type] Other, [Area] Analytics

#3419 Upgrade Automattic measure builds library
  gradle/libs.versions.toml
Labels: [Type] Tooling, [Area] Gradle

#3420 Tracks Audit: Add missing bookmark events
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarkFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarkViewModel.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/BookmarksViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/SearchBar.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBookmarksHelper.kt
Labels: [Type] Other, [Area] Analytics, [Project] Bookmarks

#3423 Tracks Audit: Tweaks for tracking
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/helper/ViewExtensions.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipFragment.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/EpisodeArtworkConfigurationFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/model/ArtworkConfiguration.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/SystemBatteryRestrictions.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BatteryRestrictionsSettingsFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/PodcastSelectFragment.kt
Labels: [Area] Analytics, [Type] Enhancement

#3426 Tracks Audit: Track Discover Share
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastGridListFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Other, [Area] Analytics

#3425 Tracks Audit: Add more eventos for Filters
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragmentViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/PodcastOptionsFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Type] Other, [Area] Analytics

#3436 Fix: Sleep timer 5 minute button cropped
  CHANGELOG.md
  modules/features/player/src/main/res/layout/fragment_sleep.xml
Labels: [Type] Bug, [Project] Sleep Timer

#3434 Add Winback Offer UI
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/import/OnboardingImportFrom.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackOfferPage.kt
  modules/services/images/src/main/res/drawable/ic_chevron_small_right.xml
  modules/services/images/src/main/res/drawable/ic_different_plan.xml
  modules/services/images/src/main/res/drawable/ic_heart_2.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Project] Winback

#3435 Add claimed winback offer UI
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/OfferClaimedPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackFragment.kt
  modules/services/images/src/main/res/drawable/ic_sparkle_1.xml
  modules/services/images/src/main/res/drawable/ic_sparkle_2.xml
  modules/services/images/src/main/res/drawable/ic_sparkle_3.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Project] Winback

#3441 Improve Billing API communication
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeBottomSheetViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/features/referrals/src/main/kotlin/au/com/shiftyjelly/pocketcasts/referrals/ReferralsClaimGuestPassViewModel.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/BillingClientWrapper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
Labels: [Type] Tech Debt, unit-tests-exemption, [Project] Winback, [Area] Billing

#3394 Fix: Casting not working correctly to Google Devices
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: [Type] Bug, [Area] Chromecast

#3439 Merge release/7.80 into main
  CHANGELOG.md
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  fastlane/Fastfile
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/shelf/PlayerShelf.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/shelf/ShelfBottomSheetPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModel.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/share/ShareListCreateViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/106.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/Podcast.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/podcast/PodcastResponse.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
  version.properties
Labels: releases

#3447 Add duration size property for Filter event
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PlaylistUpdateAnalytics.kt
Labels: [Type] Enhancement, [Area] Filters

#3440 [Tooling] Fix hiccups in hotfix process
  fastlane/Fastfile
Labels: [Type] Tooling, [Area] Tooling

#3448 Track Event Tweaks part 3
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileViewModel.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/AddFileActivity.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/CloudSettingsFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/CloudSettingsViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/AppearanceSettingsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/viewmodel/SettingsAppearanceViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/SourceView.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
Labels: [Area] Analytics, [Type] Enhancement

#3446 Add Winback view model
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeBottomSheetViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingUpgradeFeaturesViewModel.kt
  modules/features/profile/build.gradle.kts
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackOfferPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModel.kt
  modules/features/profile/src/test/kotlin/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModelTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SubscriptionMapper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/referrals/ReferralOfferInfoProviderTest.kt
  modules/services/sharedtest/src/main/java/au/com/shiftyjelly/pocketcasts/sharedtest/MainCoroutineRule.kt
Labels: [Type] Feature, [Project] Winback

#3444 Update Paywall CTA Upgrade Button
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Area] Subscriptions

#3443 Remove multiple listening history UI
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodeActionTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/EpisodeDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/EpisodeManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/EpisodeManagerImpl.kt
  modules/services/ui/src/main/res/values/ids.xml
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectAdapter.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBottomSheet.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodeAction.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodesHelper.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectFragment.kt
Labels: [Type] Enhancement, [Area] Episode Row

#3451 [Gradle] Enable Build Scans on CI
  config/gradle/gradle_build_cache.gradle.kts
  config/gradle/gradle_build_scan.gradle
  settings.gradle.kts
Labels: [Type] Tooling, [Area] Gradle, [Type] Core

#3453 Add Listening History Individual / Multiple Removal feature to `main` branch
  CHANGELOG.md
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodeActionTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/EpisodeDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/EpisodeManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/EpisodeManagerImpl.kt
  modules/services/ui/src/main/res/values/ids.xml
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectAdapter.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBottomSheet.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodeAction.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodesHelper.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectFragment.kt
Labels: [Type] Enhancement, [Area] Episode Row

#3449 Merge release/7.80 into main
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-ca/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-en-rGB/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nb/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  version.properties
Labels: releases

#3454 Add Theme info to default track events properties
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/TracksAnalyticsTracker.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/model/ThemeSetting.kt
Labels: [Area] Analytics, [Type] Enhancement, [Area] Theme

#3455 Fix Galaxy Watch skip buttons
  CHANGELOG.md
  modules/services/images/src/main/res/drawable-hdpi/auto_skipback.png
  modules/services/images/src/main/res/drawable-hdpi/auto_skipforward.png
  modules/services/images/src/main/res/drawable-hdpi/media_skipback.png
  modules/services/images/src/main/res/drawable-hdpi/media_skipforward.png
  modules/services/images/src/main/res/drawable-xhdpi/auto_skipback.png
  modules/services/images/src/main/res/drawable-xhdpi/auto_skipforward.png
  modules/services/images/src/main/res/drawable-xhdpi/media_skipback.png
  modules/services/images/src/main/res/drawable-xhdpi/media_skipforward.png
  modules/services/images/src/main/res/drawable-xxhdpi/auto_skipback.png
  modules/services/images/src/main/res/drawable-xxhdpi/auto_skipforward.png
  modules/services/images/src/main/res/drawable-xxhdpi/media_skipback.png
  modules/services/images/src/main/res/drawable-xxhdpi/media_skipforward.png
  modules/services/images/src/main/res/drawable-xxxhdpi/auto_skipback.png
  modules/services/images/src/main/res/drawable-xxxhdpi/auto_skipforward.png
  modules/services/images/src/main/res/drawable-xxxhdpi/media_skipback.png
  modules/services/images/src/main/res/drawable-xxxhdpi/media_skipforward.png
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: [Type] Bug, [Area] Wear OS

#3459 Merge release/7.81 into main
  CHANGELOG.md
  metadata/release_notes.txt
  version.properties
Labels: releases

#3460 Fix onboarding screens status bar theming
  CHANGELOG.md
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingCreateAccountPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingForgotPasswordPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingLoginOrSignUpPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingLoginPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingWelcomePage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/bars/SystemBarsStyles.kt
Labels: [Type] Bug, [Area] Onboarding

#3469 Remove the option to share bookmarks for user files
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBookmarksHelper.kt
Labels: [Type] Bug, [Project] Bookmarks

#3467 Recreate billing client if connection fails
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/BillingClientWrapper.kt
Labels: [Type] Bug, [Project] Winback

#3465 Update Woo icon on the about screen
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/about/AboutFragment.kt
  modules/services/images/src/main/res/drawable/about_logo_automattic.xml
  modules/services/images/src/main/res/drawable/about_logo_woo.xml
  modules/services/images/src/main/res/drawable/about_logo_wordpress.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/ui/src/main/res/values/themes.xml
Labels: [Type] Enhancement, [Area] Settings

#3466 Add subscription plan change logic
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/AvailablePlansPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModel.kt
  modules/features/profile/src/test/kotlin/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
Labels: [Type] Feature, [Project] Winback

#3470 Track Podcast Selection Screen Dismiss event
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/PodcastSelectFragment.kt
Labels: [Type] Other, [Area] Analytics

#3474 Add Pixel Watch skip buttons setting
  CHANGELOG.md
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
Labels: [Area] Wear OS, [Type] Enhancement

#3479 [Tracks Audit] Fix track typo
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/PodcastGridListFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Area] Analytics, [Type] Enhancement

#3472 Add Winback plan cancellation
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/CancelConfirmationFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/TrialFinishedNotes.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/CloudFileBottomSheetFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/AvailablePlansPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/CancelConfirmationPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModel.kt
  modules/features/profile/src/main/res/drawable/ic_locked_large.xml
  modules/features/profile/src/main/res/layout/bottom_sheet_cloud_file.xml
  modules/features/profile/src/test/kotlin/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModelTest.kt
  modules/features/settings/src/main/res/drawable/ic_website.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/TextStyles.kt
  modules/services/images/src/main/res/drawable/ic_locked_large.xml
  modules/services/images/src/main/res/drawable/ic_remove_from_cloud.xml
  modules/services/images/src/main/res/drawable/ic_website.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Project] Winback

#3475 Handle subscription cancellation
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountDetailsViewModel.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/AccountSections.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackFragment.kt
Labels: [Type] Feature, unit-tests-exemption, [Project] Winback

#3476 Add Winback analytics
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModel.kt
  modules/features/profile/src/test/kotlin/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackViewModelTest.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/TracksAnalyticsTracker.kt
Labels: [Type] Feature, [Area] Analytics, [Project] Winback

#3473 Fix: Do not close episode details when archiving an episode
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
Labels: [Type] Bug, [Area] Episode Popup

#3471 Update Remove Listening History Button
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectAdapter.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBottomSheet.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectToolbar.kt
Labels: [Type] Bug, [Area] Episode Row

#3484 Merge release/7.81 into main
  CHANGELOG.md
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/notification/MediaActionsViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectAdapter.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBookmarksHelper.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectBottomSheet.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectToolbar.kt
  version.properties
Labels: releases

#3481 Remove audio and video clip sharing
  CHANGELOG.md
  app/build.gradle.kts
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/sharing/SharingClientTest.kt
  gradle/libs.versions.toml
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipFragment.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipListener.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipPage.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipViewModel.kt
  modules/features/reimagine/src/main/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/ui/HorizontalCard.kt
  modules/features/reimagine/src/test/kotlin/au/com/shiftyjelly/pocketcasts/reimagine/clip/ShareClipViewModelTest.kt
  modules/services/media-ffmpeg/build.gradle.kts
  modules/services/media-ffmpeg/src/main/kotlin/au/com/shiftyjelly/pocketcasts/media/FFmpegMediaService.kt
  modules/services/media-ffmpeg/src/main/kotlin/au/com/shiftyjelly/pocketcasts/media/MediaModule.kt
  modules/services/media-noop/src/main/kotlin/au/com/shiftyjelly/pocketcasts/media/MediaModule.kt
  modules/services/media-noop/src/main/kotlin/au/com/shiftyjelly/pocketcasts/media/NoOpMediaService.kt
  modules/services/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SharingClient.kt
  modules/services/sharing/src/main/kotlin/au/com/shiftyjelly/pocketcasts/sharing/SocialPlatform.kt
  settings.gradle.kts
Labels: [Type] Other, [Project] Reimagine Sharing

#3489 Rename Twitter to X
  CHANGELOG.md
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/about/AboutFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/localization/src/main/res/values-ar/strings.xml
  modules/services/localization/src/main/res/values-ca/strings.xml
  modules/services/localization/src/main/res/values-de/strings.xml
  modules/services/localization/src/main/res/values-en-rGB/strings.xml
  modules/services/localization/src/main/res/values-es-rMX/strings.xml
  modules/services/localization/src/main/res/values-es/strings.xml
  modules/services/localization/src/main/res/values-fr-rCA/strings.xml
  modules/services/localization/src/main/res/values-fr/strings.xml
  modules/services/localization/src/main/res/values-it/strings.xml
  modules/services/localization/src/main/res/values-ja/strings.xml
  modules/services/localization/src/main/res/values-ko/strings.xml
  modules/services/localization/src/main/res/values-nb/strings.xml
  modules/services/localization/src/main/res/values-nl/strings.xml
  modules/services/localization/src/main/res/values-pt-rBR/strings.xml
  modules/services/localization/src/main/res/values-ru/strings.xml
  modules/services/localization/src/main/res/values-sv/strings.xml
  modules/services/localization/src/main/res/values-zh-rTW/strings.xml
  modules/services/localization/src/main/res/values-zh/strings.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Area] Settings

#3483 Rename Free Up Space Event
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Area] Analytics, [Type] Enhancement

#3488 [Tooling] Allow `update_rollouts` to specify the track to update
  fastlane/Fastfile
Labels: [Type] Tooling, [Area] Tooling

#3486 [Podcast Feed Update] Add Refresh Layout to Pull Down and Refresh Podcast List
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/features/podcasts/src/main/res/layout/fragment_podcast.xml
Labels: [Type] Feature, [Project] Podcast feed update

#3495 Fix Discover Category Pill for Large Size
  modules/features/discover/src/main/res/layout/category_pill.xml
  modules/features/discover/src/main/res/layout/row_category_pills.xml
Labels: [Type] Bug, [Area] Discover Tab

#3493 Fix media session controls
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaEventQueue.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaSessionManager.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/playback/MediaEventQueueTest.kt
Labels: [Type] Bug, [Area] Pixel Buds

#3496 Fix episode bottom sheet edge-to-edge
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeContainerFragment.kt
  modules/features/podcasts/src/main/res/layout/fragment_episode.xml
  modules/features/podcasts/src/main/res/layout/fragment_episode_container.xml
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BaseDialogFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/MatchParentFrameLayout.kt
Labels: [Type] Tech Debt, [Area] Android 15

#3502 Adapt Winback for edge-to-edge
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/AvailablePlansPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/CancelConfirmationPage.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/HelpPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/LogsFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/status/StatusFragment.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/bars/BottomSheetAppBar.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/bars/ThemedTopAppBar.kt
Labels: [Type] Other, [Project] Winback

#3497 [Podcast Feed Update] Update New Episode Found message
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Project] Podcast feed update

#3501 Fix App version in About screen for large fonts
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/about/AboutFragment.kt
Labels: [Type] Enhancement, [Area] Accessibility

#3499 [Podcast Feed Update] Update Tracks
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Area] Analytics, [Type] Enhancement, [Project] Podcast feed update

#3500 Fix Discover Subtitle List for Large Font Sizes
  modules/features/discover/src/main/res/layout/row_podcast.xml
Labels: [Type] Enhancement, [Area] Accessibility, [Area] Discover Tab

#3494 Bookmarks Tweaks
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksPage.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/adapter/BookmarkViewHolder.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/bookmark/BookmarkRow.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/TextStyles.kt
Labels: [Project] Bookmarks, [Type] Enhancement

#3512 [Dependency Cache] Use Custom Init Gradle Task to Download Dependencies
  .buildkite/commands/save-cache.sh
Labels: [Type] Tooling, [Area] Gradle, [Type] Core

#3510 [Podcast feed update] - Call API to refresh podcast
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastSettingsFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManagerImpl.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/refresh/RefreshPodcastFeedRequest.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/refresh/RefreshService.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/refresh/RefreshServiceManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/refresh/RefreshServiceManagerImpl.kt
Labels: [Type] Feature, [Project] Podcast feed update

#3520 Fix Help page overflow menu position
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/HelpPage.kt
Labels: [Type] Bug, [Area] Help & Feedback

#3522 Merge release/7.81 into main
  fastlane/Fastfile
Labels: releases

#3521 [Podcast feed update] Cancel refresh if switch screen
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
Labels: [Type] Enhancement, [Project] Podcast feed update

#3525 Fix padding in WebViewActivity
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/activity/WebViewActivity.kt
Labels: [Type] Other, [Area] Android 15

#3513 Migrate Podcast Bottom Header to Jetpack Compose
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/StarRatingView.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastHeaderBottom.kt
  modules/features/podcasts/src/main/res/layout/view_podcast_header_bottom.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/TextStyles.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/text/Extension.kt
Labels: [Type] Tech Debt, [Area] Podcast Page, [Area] Compose

#3514 [Tooling] Introduce pipelines to trigger release tasks on CI
  .buildkite/commands/release-build.sh
  .buildkite/release-builds.yml
  .buildkite/release-pipelines/code-freeze.yml
  .buildkite/release-pipelines/finalize-hotfix-release.yml
  .buildkite/release-pipelines/finalize-release.yml
  .buildkite/release-pipelines/new-beta-release.yml
  .buildkite/release-pipelines/new-hotfix-release.yml
  .buildkite/release-pipelines/publish-release.yml
  .buildkite/release-pipelines/update-rollouts.yml
  .bundle/config
  Gemfile.lock
  fastlane/Fastfile
  scripts/themes/download_themes.rb
Labels: [Type] Tooling, [Area] Tooling

#3526 [Dependency Analysis] Update Workflow [`+`]
  .buildkite/schedules/dependency-analysis.yml
  gradle/libs.versions.toml
Labels: [Type] Tooling, [Area] Dependencies, [Type] Core

#3527 [Podcast feed update] Add tracks for refresh result
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/viewmodel/PodcastViewModel.kt
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
Labels: [Area] Analytics, [Type] Enhancement, [Project] Podcast feed update
