Repository Automattic/pocket-casts-android, pull requests merged in 2025-09, with the labels that each got.

#4440 Add toolbar button animation
  gradle/libs.versions.toml
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/AccountBenefitsPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingCreateAccountPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/OnboardingLoginOrSignUpPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingNotAllowedToRateScreen.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingScreen.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/components/ratings/GiveRatingsErrorScreen.kt
  modules/services/compose/build.gradle.kts
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/bars/ThemedTopAppBar.kt
  modules/services/images/src/main/res/drawable/ic_anim_close_back.xml
Labels: [Type] Feature, [Area] Playlists

#4449 Pass intent.data when receiving/opening a notification
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationOpenReceiverActivity.kt
Labels: [Type] Bug, [Area] Notification

#4446 Add episodes to manual playlists
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerTest.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesPage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/EpisodesColumn.kt
  modules/features/filters/src/test/kotlin/au/com/shiftyjelly/pocketcasts/playlists/create/FakePlaylistManager.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/ThemedSnackbarHost.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
Labels: [Type] Feature, [Area] Playlists

#4447 Filter episodes when adding them to manual playlists
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerTest.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesPage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/EpisodeSourcesColumn.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/EpisodesColumn.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/PlaylistViewModel.kt
  modules/features/filters/src/test/kotlin/au/com/shiftyjelly/pocketcasts/playlists/create/FakePlaylistManager.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/text/SearchFieldState.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
Labels: [Type] Feature, unit-tests-exemption, [Area] Playlists

#4448 Fix playlist artwork and sorting
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerBaseTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerDsl.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerManualTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerSmartTest.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerTest.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/PlaylistViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesPage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/AddEpisodesViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/episode/EpisodeSourcesColumn.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/PlaylistViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/rules/EditRulesViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/rules/SmartRulesEditor.kt
  modules/features/filters/src/test/kotlin/au/com/shiftyjelly/pocketcasts/playlists/create/FakePlaylistManager.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/ManualPlaylistEpisode.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/ManualPlaylistEpisodeSource.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/Playlist.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/shortcuts/DynamicShortcutsSynchronizer.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/data/PlaylistSync.kt
Labels: [Type] Feature, [Area] Playlists

#4454 Update Smart Playlists empty state
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/CreatePlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistHeader.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistHeaderAdapter.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistToolbar.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/rules/EditRulesFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/smart/rules/ManageSmartRulesPage.kt
  modules/features/filters/src/main/res/layout/playlist_fragment.xml
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/NoContentBanner.kt
Labels: [Type] Feature, [Area] Playlists

#4455 Display empty state in Manual Playlists
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/PlaylistViewModel.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileViewModel.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/NoContentBanner.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PodcastDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PodcastManagerImpl.kt
Labels: [Type] Feature, [Area] Playlists

#4467 Display Manual Playlist options
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerDsl.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/OptionsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/OptionsPage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistHeader.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistOptionsColumn.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistSortOptionsColumn.kt
  modules/services/images/src/main/res/drawable/ic_playlist_archive_all.xml
  modules/services/images/src/main/res/drawable/ic_playlist_edit.xml
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/to/PlaylistEpisodeMetadata.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/PlaylistEpisodeSortType.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/Playlist.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PlaylistUpdateAnalytics.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SmartPlaylistManagerImpl.kt
Labels: [Type] Feature, [Area] Playlists

#4470 Show unavailable episode modal
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerManualTest.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/PlaylistEpisodesAdapterFactory.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/UnavailableEpisodeFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/UnavailableEpisodePage.kt
  modules/features/filters/src/test/kotlin/au/com/shiftyjelly/pocketcasts/playlists/create/FakePlaylistManager.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
Labels: [Type] Feature, [Area] Playlists

#4473 Fix interests spacing
  CHANGELOG.md
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/recommendations/OnboardingInterestsPage.kt
Labels: [Type] Bug, [Area] Onboarding

#4498 Handle playlist swipe actions
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/EpisodeAvailableViewHolder.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/EpisodeUnavailableViewHolder.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistEpisodesAdapterFactory.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/swipe/SwipeAction.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/swipe/SwipeActionViewModel.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/swipe/SwipeSource.kt
Labels: [Type] Feature, unit-tests-exemption, [Area] Playlists

#4500 Consolidate podcast episode UI
  CHANGELOG.md
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FilterEpisodeListFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/EpisodeAvailableViewHolder.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistEpisodeAdapter.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistEpisodesAdapterFactory.kt
  modules/features/filters/src/main/res/layout/adapter_episode_available.xml
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/BaseEpisodeViewHolder.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/EpisodeListAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/EpisodeViewHolder.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastAdapter.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/podcasts/src/main/res/layout/adapter_episode.xml
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/CloudFilesFragment.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/BookmarkDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/bookmark/BookmarkManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/bookmark/BookmarkManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/EpisodeRowData.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/multiselect/MultiSelectEpisodesHelper.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/swipe/SwipeActionViewModel.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/swipe/SwipeRowActions.kt
  modules/services/views/src/test/java/au/com/shiftyjelly/pocketcasts/views/swipe/SwipeRowActionsFactoryTest.kt
Labels: [Type] Feature, [Area] Playlists

#4503 Drop legacy swipe code
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FilterEpisodeListFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/CloudFilesFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/MultiSwipeHelper.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/SwipeButtonLayout.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/SwipeButtonLayoutViewModel.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/SwipeDirection.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/SwipeToArchiveCallback.kt
  modules/services/views/src/test/java/au/com/shiftyjelly/pocketcasts/views/helper/SwipeButtonLayoutViewModelTest.kt
Labels: [Type] Feature, [Area] Playlists

#4505 Add "add to playlist" shelf action
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/di/SharingModule.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/manual/AddToPlaylistFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/shelf/PlayerShelf.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/shelf/ShelfBottomSheetPage.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/viewmodel/ShelfSharedViewModel.kt
  modules/services/images/src/main/res/drawable/ic_add_to_playlist_action.xml
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/model/ShelfRowItem.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BaseDialogFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/swipe/AddToPlaylistFragmentFactory.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/swipe/SwipeAction.kt
Labels: [Type] Feature, [Area] Playlists

#4511 Refactor playlist preview
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerDsl.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsPage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistPreviewRow.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/Playlist.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistPreview.kt
Labels: [Type] Feature, [Area] Playlists

#4526 Fix freeCompilerArgs build warning
  wear/build.gradle.kts
Labels: [Type] Tech Debt, [Area] Gradle

#4513 [CI] Add FAD Prototype Builds for `main` Branch
  .buildkite/commands/prototype-build-fad.sh
  .buildkite/pipeline.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Labels: [Area] Tooling, [Type] Core

#4533 Add user memebership
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerDsl.kt
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  automotive/src/main/java/au/com/shiftyjelly/pocketcasts/AutomotiveApplication.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingCreateAccountViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/OnboardingLogInViewModel.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/viewmodel/SignInViewModel.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/MembershipFeature.kt
  modules/services/model/src/test/java/au/com/shiftyjelly/pocketcasts/models/type/MembershipTest.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/UserSetting.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/ads/BlazeAdsManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/jobs/VersionMigrationsWorker.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/ServerPurchaseApprover.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/subscription/SubscriptionManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/user/UserManager.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/sync/SubscriptionModel.kt
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/extensions/Flow.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/PocketCastsWearApplication.kt
Labels: [Type] Feature, unit-tests-exemption, [Area] Subscriptions

#4529 Add PlaylistIcon type
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerDsl.kt
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerSmartTest.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/CreateFilterChipFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/CreateFilterFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/CreateFilterViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/DurationOptionsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/EpisodeOptionsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FilterEpisodeListFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/PodcastOptionsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/TimeOptionsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsPage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/component/PlaylistPreviewRow.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastSettingsHomePage.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcast/PodcastSettingsPlaylistsPage.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/PlaylistEntity.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/to/PlaylistIcon.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/to/PlaylistShortcut.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/extensions/Playlist.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/auto/AutoConverter.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistPreview.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PlaylistUpdateAnalytics.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/shortcuts/DynamicShortcutsSynchronizer.kt
  modules/services/ui/src/main/java/au/com/shiftyjelly/pocketcasts/ui/extensions/Playlist.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BasePreferenceFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/helper/PlaylistHelper.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/theme/WearColors.kt
  wear/src/main/kotlin/au/com/shiftyjelly/pocketcasts/wear/ui/filters/FiltersScreen.kt
Labels: [Type] Feature, [Area] Playlists

#4532 Use playlists nomenclature in the whole app
  app/src/main/java/au/com/shiftyjelly/pocketcasts/PocketCastsApplication.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/status/StatusViewModel.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/repositories/src/main/AndroidManifest.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/di/InitializerEntryPoint.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationType.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/DefaultPlaylistsInitializer.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/DefaultPlaylistsStartupInitializer.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/Playlist.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistInteractionNotifier.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SmartPlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SmartPlaylistManagerImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SmartPlaylistManagerImplTest.kt
Labels: [Type] Feature, unit-tests-exemption, [Area] Playlists

#4534 Add auto play to playlists
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistViewModel.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/model/AutoPlaySource.kt
  modules/services/preferences/src/test/kotlin/au/com/shiftyjelly/pocketcasts/preferences/model/AutoPlaySourceTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/AutoPlaySelector.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/support/Support.kt
Labels: [Type] Feature, unit-tests-exemption, [Area] Playlists

#4444 Support target SDK 36
  app/build.gradle.kts
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/localization/helper/LocalisationTests.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  automotive/build.gradle.kts
  build.gradle.kts
  dependencies.gradle.kts
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/EffectsFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/SleepFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/FolderChooserFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/FolderCreateFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/component/NumericStepper.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BaseDialogFragment.kt
  wear/build.gradle.kts
Labels: [Area] Dependencies, [Type] Core
