Repository Automattic/pocket-casts-android, pull requests merged in 2025-07, with the labels that each got.

#4175 [Smart Categories] Track category visits and respect featured categories ordering
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabaseTest.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/CategoryPillAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverAdapter.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverFragment.kt
  modules/features/discover/src/test/kotlin/au/com/shiftyjelly/pocketcasts/discover/util/DiscoverDeepLinkManagerTest.kt
  modules/services/model/schemas/au.com.shiftyjelly.pocketcasts.models.db.AppDatabase/116.json
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/AppDatabase.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/UserCategoryVisitsDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/di/ModelModule.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/UserCategoryVisits.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/categories/CategoriesManager.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/categories/CategoriesManagerTest.kt
  modules/services/servers/src/main/java/au/com/shiftyjelly/pocketcasts/servers/model/DiscoverModel.kt
Labels: [Type] Feature, [Project] Categories, [Area] Discover Tab

#4196 Remove unused launched effect
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
Labels: [Type] Tech Debt, [Project] Banner Ads

#4204 [Onboarding] Upgrade Screen skeleton
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFlow.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeScreen.kt
  modules/services/localization/src/main/res/values/strings.xml
  modules/services/utils/src/main/java/au/com/shiftyjelly/pocketcasts/utils/featureflag/Feature.kt
Labels: [Type] Feature, [Area] Onboarding

#4206 Make AutoPlaySource constants lazy
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/models/db/UpNextQueueTest.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/ProfileEpisodeListFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/cloud/CloudFilesFragment.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/model/AutoPlaySource.kt
  modules/services/preferences/src/test/kotlin/au/com/shiftyjelly/pocketcasts/preferences/model/AutoPlaySourceTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackService.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/UpNextQueueImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/support/Support.kt
Labels: [Type] Bug, [Area] Dependencies

#4205 [Onboarding] Connect screen content
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/components/UpgradeFeatureItem.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/components/UpgradeTrialTimeline.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFlow.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeScreen.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/ProfileUpgradeBanner.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/UpgradeFeatureItem.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Area] Onboarding

#4217 Fix clips link causing infinite deep linking
  CHANGELOG.md
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/activity/WebViewActivity.kt
Labels: [Type] Bug, [Project] Reimagine Sharing

#4216 Fix upsell notification display criteria
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationWorker.kt
Labels: [Type] Bug, [Area] Notification

#4219 Improve window insets handling on Android pre SDK 30
  CHANGELOG.md
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  app/src/main/res/layout/activity_main.xml
  modules/features/navigation/src/main/java/au/com/shiftyjelly/pocketcasts/navigation/ActivityDelegate.kt
  modules/features/navigation/src/main/java/au/com/shiftyjelly/pocketcasts/navigation/BottomNavigator.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerBottomSheet.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/PlayerHeaderFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/bookmark/BookmarksFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/chapters/ChaptersPage.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/component/BottomNavigationView.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/extensions/View.kt
Labels: [Type] Bug, [Area] Android 15

#4220 Updates Java version to 21
  .java-version
  settings.gradle.kts
Labels: [Type] Tech Debt, [Area] Gradle

#4229 Update timeline component design
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/components/UpgradeTrialTimeline.kt
Labels: [Type] Enhancement, [Area] Onboarding

#4233 Use correct activeTheme for transcript banner
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/episode/EpisodeFragment.kt
Labels: [Type] Bug, [Project] Transcripts

#4246 Fix icon color on feature item on profile upgrade banner
  CHANGELOG.md
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/ProfileUpgradeBanner.kt
Labels: [Type] Enhancement, [Area] Profile Tab

#4239 Add Playlists onboarding support
  modules/features/filters/build.gradle.kts
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsOnboardingFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsViewModel.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperFragment.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperPage.kt
  modules/features/settings/src/main/java/au/com/shiftyjelly/pocketcasts/settings/developer/DeveloperViewModel.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/Settings.kt
  modules/services/preferences/src/main/java/au/com/shiftyjelly/pocketcasts/preferences/SettingsImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/jobs/VersionMigrationsWorker.kt
Labels: [Type] Feature, unit-tests-exemption, [Area] Playlists

#4242 Add Playlists onboarding flow
  lint.xml
  modules/features/filters/build.gradle.kts
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsOnboardingFragment.kt
  modules/services/images/src/main/res/drawable-hdpi/playlists_onboarding_playlists.webp
  modules/services/images/src/main/res/drawable-hdpi/playlists_onboarding_smart_playlists.webp
  modules/services/images/src/main/res/drawable-ldpi/playlists_onboarding_playlists.webp
  modules/services/images/src/main/res/drawable-ldpi/playlists_onboarding_smart_playlists.webp
  modules/services/images/src/main/res/drawable-mdpi/playlists_onboarding_playlists.webp
  modules/services/images/src/main/res/drawable-mdpi/playlists_onboarding_smart_playlists.webp
  modules/services/images/src/main/res/drawable-xhdpi/playlists_onboarding_playlists.webp
  modules/services/images/src/main/res/drawable-xhdpi/playlists_onboarding_smart_playlists.webp
  modules/services/images/src/main/res/drawable-xxhdpi/playlists_onboarding_playlists.webp
  modules/services/images/src/main/res/drawable-xxhdpi/playlists_onboarding_smart_playlists.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/playlists_onboarding_playlists.webp
  modules/services/images/src/main/res/drawable-xxxhdpi/playlists_onboarding_smart_playlists.webp
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Area] Playlists

#4236 Introduce `DoNotMockDataClass` rule
  .buildkite/commands/lint.sh
  app/build.gradle.kts
  app/lint-baseline.xml
  automotive/build.gradle.kts
  automotive/lint-baseline.xml
  build.gradle.kts
  gradle/libs.versions.toml
  wear/build.gradle.kts
  wear/lint-baseline.xml
Labels: [Type] Tooling, [Area] Tooling

#4258 Add SmartRules type
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SmartRules.kt
  modules/services/model/src/test/java/au/com/shiftyjelly/pocketcasts/models/type/SmartRulesTest.kt
Labels: [Type] Tech Debt, [Area] Playlists

#4263 bundle update gems
  Gemfile.lock
Labels: [Type] Tooling, [Area] Tooling

#4262 Fix missing file sizes on episode page
  CHANGELOG.md
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/PodcastRefresherImpl.kt
  modules/services/repositories/src/test/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SmartSmartPlaylistManagerImplTest.kt
Labels: [Type] Bug, [Area] Downloads

#4267 Add swipe to delete playlists
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistPreviewRow.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsViewModel.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
Labels: [Type] Feature, [Area] Playlists

#4261 Add missing `notification_open` event
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/repositories/src/main/AndroidManifest.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/bookmark/BookmarkHelper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/download/DownloadManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationOpenReceiver.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationType.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationWorker.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/refresh/RefreshPodcastsThread.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/TokenErrorNotification.kt
Labels: [Type] Enhancement, [Area] Notification

#4270 Add playlists empty state
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsPage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsViewModel.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/bars/ThemedTopAppBar.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Area] Playlists

#4271 Remove system downloads filter
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/entity/SmartPlaylist.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/PlaylistEpisodeSortType.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/type/SmartRules.kt
  modules/services/model/src/test/java/au/com/shiftyjelly/pocketcasts/models/type/SmartRulesTest.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackService.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/PlaylistUpdateAnalytics.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SmartPlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/podcast/SmartPlaylistManagerImpl.kt
Labels: [Type] Tech Debt, [Area] Playlists

#4265 Specify category when uploading `sarif` files
  .buildkite/commands/lint.sh
  .buildkite/shared-pipeline-vars
Labels: [Type] Tooling, [Area] Tooling

#4273 Fixes notification message
  CHANGELOG.md
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Enhancement, [Project] Push Notifications Revamp

#4272 Open podcast search by tapping the Discover button when the Discover page is displayed
  CHANGELOG.md
  app/src/main/java/au/com/shiftyjelly/pocketcasts/ui/MainActivity.kt
  modules/features/discover/src/main/java/au/com/shiftyjelly/pocketcasts/discover/view/DiscoverFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/filters/FiltersFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsFragment.kt
  modules/features/player/src/main/java/au/com/shiftyjelly/pocketcasts/player/view/UpNextFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/podcasts/PodcastsFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/ProfileFragment.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/TopScrollable.kt
Labels: [Type] Enhancement, [Area] Discover Tab

#4275 Add missing `notification_open` event
  modules/services/analytics/src/main/java/au/com/shiftyjelly/pocketcasts/analytics/AnalyticsEvent.kt
  modules/services/repositories/src/main/AndroidManifest.xml
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/bookmark/BookmarkHelper.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/download/DownloadManagerImpl.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationOpenReceiver.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationType.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/notification/NotificationWorker.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playback/PlaybackManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/refresh/RefreshPodcastsThread.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/sync/TokenErrorNotification.kt
Labels: [Type] Enhancement, [Area] Notification, [Project] Push Notifications Revamp

#4289 [Onboarding] Folders upgrade
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingSubscriptionPlan.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeFeaturesPage.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeScreen.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/contextual/Folders.kt
  modules/services/images/src/main/res/drawable/artwork_0.webp
  modules/services/images/src/main/res/drawable/artwork_1.webp
  modules/services/images/src/main/res/drawable/artwork_2.webp
  modules/services/images/src/main/res/drawable/artwork_3.webp
  modules/services/images/src/main/res/drawable/artwork_4.webp
  modules/services/images/src/main/res/drawable/artwork_5.webp
  modules/services/images/src/main/res/drawable/artwork_6.webp
  modules/services/images/src/main/res/drawable/artwork_7.webp
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Area] Onboarding

#4290 Add playlist creation page
  modules/features/filters/build.gradle.kts
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/NewPlaylistPage.kt
  modules/features/filters/src/test/kotlin/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistViewModelTest.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/OfferClaimedPage.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/FormField.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/components/SparkleImage.kt
  modules/services/images/src/main/res/drawable/ic_chevron_trimmed.xml
  modules/services/images/src/main/res/drawable/ic_close_outlined.xml
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Area] Playlists

#4291 Add playlist creation page navigation
  modules/features/filters/build.gradle.kts
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/SmartPlaylistPreviewPage.kt
Labels: [Type] Feature, [Area] Playlists

#4293 Add function for dialog shape
  modules/features/ads/src/main/kotlin/au/com/shiftyjelly/pocketcasts/ads/AdReportFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/PlaylistsOnboardingFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/folders/SuggestedFoldersFragment.kt
  modules/features/podcasts/src/main/java/au/com/shiftyjelly/pocketcasts/podcasts/view/notifications/EnableNotificationsPromptFragment.kt
  modules/features/profile/src/main/java/au/com/shiftyjelly/pocketcasts/profile/winback/WinbackFragment.kt
  modules/features/transcripts/src/main/kotlin/au/com/shiftyjelly/pocketcasts/transcripts/TranscriptFragment.kt
  modules/services/compose/src/main/java/au/com/shiftyjelly/pocketcasts/compose/ad/AdReportContent.kt
  modules/services/views/src/main/java/au/com/shiftyjelly/pocketcasts/views/fragments/BaseDialogFragment.kt
Labels: [Type] Feature, [Area] Playlists

#4292 [Onboarding] Bookmarks
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingSubscriptionPlan.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/OnboardingUpgradeScreen.kt
  modules/features/account/src/main/java/au/com/shiftyjelly/pocketcasts/account/onboarding/upgrade/contextual/Bookmarks.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Area] Onboarding

#4299 Control podcasts smart rule
  modules/features/filters/build.gradle.kts
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistFragment.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistViewModel.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/PodcastsRulePage.kt
  modules/features/filters/src/main/java/au/com/shiftyjelly/pocketcasts/playlists/create/SmartPlaylistPreviewPage.kt
  modules/features/filters/src/test/kotlin/au/com/shiftyjelly/pocketcasts/playlists/create/CreatePlaylistViewModelTest.kt
  modules/services/localization/src/main/res/values/strings.xml
Labels: [Type] Feature, [Area] Playlists

#4300 Observe episodes via smart rules
  app/src/androidTest/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerTest.kt
  modules/services/model/src/main/java/au/com/shiftyjelly/pocketcasts/models/db/dao/PlaylistDao.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManager.kt
  modules/services/repositories/src/main/java/au/com/shiftyjelly/pocketcasts/repositories/playlist/PlaylistManagerImpl.kt
Labels: [Type] Feature, [Area] Playlists
